/* SettingCertificatesRenewalPolicies.css */
ul { margin: 0 30px !important; }
li { color: var(--color-border-default); }
details {
  border: var(--border-default);
  border-radius: 4px;
  padding: 8px;
}
details[open] summary {
  border-bottom: var(--border-default);
}