.header-right-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  min-height: var(--h-right-btn);
  margin-left: auto;
}
.header-right-btns > button:last-child,
.manage-button {
  margin-right: 0 !important;
}

@media screen and (max-width: 768px) {
  .header-right-btns > button:last-child,
  .manage-button {
    margin-right: 8px !important;
  }
}
.right-click-menu-box {
  width: 186px;
}