.header-right-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  min-height: var(--h-right-btn);
  margin-left: auto;
  gap: 3px 0px; /* ✅ 버튼 간격 통일감 있게 */
}

.right-click-menu-box {
  width: 186px;
}
@media screen and (max-width: 768px) {
  .header-right-btns > button:last-child,
  .manage-button {
    margin-right: 4px !important;
  }
}
