/* components/button/ActionButton.css */
.btn-action {
  height: var(--h-primary);
  margin-right: 4px;
  padding: 0 8px;
  font-size: var(--fs-default);
  border-radius: 1px;
  display: flex;justify-content: center;align-items: center;
  border: var(--border-btn);
  letter-spacing: var(--letter-28);
}

button.btn-action[disabled]{
    background-color: white;
    color: #888888;
}

.btn-action svg {
  /* '관리' 버튼 같은 아이콘이 있는 버튼일 경우 */
}

.btn-right-click { /* .right-click-menu-box */
  height: 26px;
  font-size: var(--fs-default);
  width: 100%;
  padding: 0 10px;
  justify-content: left !important;
  border: none !important;
  cursor: pointer;
  opacity: 1;
  border-radius: 0 !important;
}
.btn-right-click[disabled]{
  background-color: white;
  color: #888888;
  border: none !important;
}
.btn-right-click:not(:disabled):hover {
  background-color: var(--color-hover);
}
