.host-filter-btns {
  width: fit-content;height: var(--h-text-input);
  font-size: var(--fs-default);
  border-radius: 4px;
  border: var(--border-btn-filter);
}
.host-filter-btns button {
  min-width: 60px;height:100%;
  cursor: pointer;
  border-radius: 0;border:none;
  border-right: var(--border-btn-filter);
  color:var(--color-nav);
  font-weight: 500;
  word-break: break-all;
}
.host-filter-btns button:last-child{
  border-right: none;
}
.host-filter-btns button:hover {
  background-color: #eceaea;
}
.host-filter-btns button.active {
  font-weight: 700;
  color: var(--color-black);
}
