.host-filter-btns {
  width: fit-content;height: var(--h-text-input);
  border-radius: 1px;
  border: var(--border-btn-filter);
  background-color: var(--color-primary-white);
}
.host-filter-btns button {
  min-width: 60px;height:100%;
  padding: 0 6px;
  border-radius: 0;border:none;
  border-right: var(--border-btn-filter);
  color:var(--color-nav);
  word-break: break-all;
}
.host-filter-btns button:last-child{
  border-right: none;
}
.host-filter-btns button:hover {
  background-color: #eceaea;
}
.host-filter-btns button.active {
  color: var(--color-black);
}
