.host-filter-btns {
  display: flex;
  font-size: var(--fs-default);
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden; 
  width: fit-content;
  border: 1px solid var(--color-gray-4);
  height: var(--h-text-input);
}
.host-filter-btns button {
  width: 60px;
  cursor: pointer;
  border-radius: 0;border:none;border-right: 1px solid var(--color-gray-4);
  color:var(--color-nav);
  font-weight: 500;
}
.host-filter-btns button:last-child{
  border-right: none;
}
.host-filter-btns button:hover {
  background-color: #eceaea;
}
.host-filter-btns button.active {
  font-weight: 700;
  color: var(--color-black);
}
