.section-header {
  width: 100%;height:var(--h-section-header);
  /* min-height:var(--h-section-header); */
  border-bottom: var(--border-default);
  padding: 0 16px;
}
.section-header-left {
  height:100%;
  gap:5px;
}
.section-header-left > svg {
  width:var(--w-icon);height:var(--h-icon);
  aspect-ratio:1/1;
  margin-right: 5px;
}
.section-header-left h1.inverse {
  color:var(--color-white)
}
.section-header-title {
  
}
.article-nav {
  flex-wrap: wrap;
  min-height: var(--h-right-btn);
}

.article-nav > button,
.popup-btn {
  margin: 0 5px;
  font-weight: 500;
  cursor: pointer;
  height: var(--h-primary);
  padding: 0 8px;
  background-color: #eff5ff;
  border: 1px solid var(--color-blue-1);
  border-radius: 1px;
  color: var(--color-blue);
  letter-spacing: var(--letter-28);
}
.article-nav > button[disabled]{
  background-color: var(--color-input-disabled) !important;
  color: var(--color-gray) !important;
}
.popup-btn {
  position: relative;
}
.article-nav > button:not(:disabled):hover,
.popup-btn:hover {
  background-color: #d3e1fb;
  color: var(--color-blue-1);
}
.article-nav > button:last-child,
.popup-btn {
  margin-right: 0 !important;
}