.normal-search-box {
  border: var(--border-btn);
  width: var(--w-text-input);height: var(--h-text-input);min-width: var(--w-text-input);
  border-radius: 1px;
}
.normal-search-box input {
  width: calc(100% - var(--h-text-input)) !important; border:none !important;
  height: 100%;
  text-indent: 4px;
}
.btn-search-box {
  width: var(--h-text-input);height: 100%;
  cursor: pointer;
}
.btn-search-box:hover {
  color: var(--color-black);
}
.btn-refresh {
  border: var(--border-btn);
  height: var(--h-text-input);aspect-ratio:1/1;
  border-radius: 2px;
  border-right: none;
}

