/* ToggleSwitch.css */
.switch {
  position:relative;display:inline-block;
  width:38px;height:23px;
  margin-right: 9px;
}
.switch-outer {
  display: flex;
}
.switch input {
  opacity:0;
  width:0;height:0;
}
.slider.round {
  position: absolute;
  cursor: pointer;
  top:0;left:0;bottom:0;right:0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 20px;
}

.slider.round:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider.round {
  background-color: var(--color-primary-hover);
}

input:checked + .slider.round:before {
  transform: translateX(16px);
}

.toggle-status {
  min-width: 30px;
}
