.popup-btn {
    position: relative; /* 부모 요소에 대해 상대적인 위치 설정 */
}

.popup-box {
    min-width: 856%;
    position: absolute;
    background-color: white;
    top: 116%;
    right: 0;
    display: none;
    border: 1px solid #DDDDDD;
    color: #4F4F4F;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: left;
    z-index: 3;
}

.popup-box>div{
    border-bottom: 1px solid #DDDDDD;
    cursor: pointer;
    padding: 0.08rem;
}

.popup-box>div:hover{
    background-color: #DDDDDD;
}
.section-header-left>div{
    display:flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-right: 10px;
    font-size:0.6rem;
    padding: 0.22rem 0;
}
.section-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #6999D9;
    align-items: center; /* 수직 가운데 정렬 추가 */
    padding: 0.05rem 0.4rem;
}
.section-header-left{
    display: flex;
    align-items: center; /* 수직 가운데 정렬 추가 */
    color: #0b4db5;
}
.section-header-left span,
.section-header-left button {
    margin-right: 10px; /* 요소 간 간격 조정 */
}
.section-header-left>span,.section-header-left>button{
    font-size: 0.31rem;
    color: #0b4db5;
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-top: 0.1rem;
}
.section-header-right{
    display: flex;
    justify-content: space-between;
    margin: 0.9% 0;
}


.article-nav{
    display: flex;
    justify-content: right;
}
.article-nav>button{
    margin: 0 5px;
    font-weight: 600;
    cursor: pointer;
    padding: 0.1rem 0.2rem;
    font-size: 0.3rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #89b0e3;
    border: 1px solid #295b9c;
    border-radius: 3px;
    color: white;

}
.article-nav>div>button{
    padding: 0 7px;
}
.article-nav>div{
    font-weight: 600;
    padding: 0 0.14rem;
    display: flex;
    font-size: 0.3rem;
}
.article-nav>div>button{
    height: 100%;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.3rem;
    background-color: #89b0e3;
    border: 1px solid #295b9c;
    color: white;
    border-radius: 3px;
}
.article-nav>div>a{
    display: block;
    background-color: #EBEBEB;
    border: 1px solid #A1A1A1;
    padding: 4px 10px;
    border-left: none;
}
.article-nav button i{
    margin-right: 3px;
}
