.host-new-popup {
  height: 67%;
  width: 39%;
}
.host-new-content {
  height: 78%;
}
.host-new-content > div {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  align-items: center;
}
.host-new-content select,
.host-new-content input[type="text"],
.host-new-content input[type="number"],
.host-new-content input[type="password"] {
  width: 47%;
}
