.apexcharts-menu-icon,
.apexcharts-toolbar > div {
  display: none;
}
.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center,
.apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
  display: none;
}
/* 

    #aside {
    width: 3vw;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.13);
    border-right: 1px solid rgb(219 219 219);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.1rem;
}
    #aside_popup {
    width: 78%;
    background-color: white;
    display: none;
    position: relative;
}
} */
.aside-outer {
  position: relative;
  overflow: hidden;
  transition: width 0.1s ease-in-out; /* 부드러운 크기 변화 */
  margin-right: 0.07rem;
  width: var(--w-aside-menu);
}

.aside-outer.closed {
  width: 0;
  overflow: hidden;
}

.aside-popup div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-outer {
  height:  calc(99.2% - var(--h-rutil-header));
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.blue-text {
  color: rgb(43, 43, 43);
  border-radius: 0.3rem;
}

#aside {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.13);
  border-right: 1px solid rgb(219 219 219);
  font-size: var(--fs-big);
  margin-bottom: 0.04rem;
  padding: 0.1rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  width: 100%;
  color: rgb(105, 105, 105);
  padding: 11px 2px;
}
.nav > a {
  margin-right: 17px;
}
.link-no-underline {
  text-decoration: none;
  color: inherit;
}

.aside-popup {
  width: 99.4%;
  background-color: white;
  display: block;
  overflow-y: auto;
  height: 94.4%;
  max-height: 100%;
  position: relative;
}

.aside-popup > div > div {
  color: rgb(145, 150, 155);
  font-size: 0.33rem;
  cursor: pointer;
  padding-top: 0.1rem;
}

.aside-popup-content i:first-child,
.aside-popup-second-content i:first-child,
.aside-popup-third-content i:first-child,
.aside-popup-fourth-content i:first-child {
  font-size: 0.24rem;
  margin-right: 0.27rem;
}
.aside-popup-content > span,
.aside-popup-second-content > span,
.aside-popup-third-content > span,
.aside-popup-fourth-content > span {
  margin-left: 0.1rem;
}

.aside-popup-content {
  padding-left: 0.2rem;
}

.aside-popup-second-content {
  padding-left: 0.4rem;
}
.context-menu {
  position: absolute;
  display: none;
  background-color: white;
  border: var(--border-simple);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 3px;
}
.context-menu div {
  font-size: 0.3rem;
  cursor: pointer;
  text-align: left;
  padding: 0.03rem 0.2rem 0.03rem 0.2rem;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.context-menu div:hover {
  background-color: #e6eefa;
}
.aside-popup-third-content {
  padding-left: 0.6rem;
}


/* 🔹 본문 스타일 */
.section-wrapper {
  background: #fff;
  position: relative;
  overflow: hidden;
  transition: width 0.1s ease-out;
}

/* 🔹 크기 조절 핸들 스타일 */
.resizer {
  width: 5px;
  position: absolute;
  top: 0;
  right:0;
  height: 100%;
  cursor: col-resize;
  z-index: 100;
    user-select: none; /* ✅ 기본적으로 드래그 시 텍스트 선택 방지 */
}

.resizer:hover {
  cursor: ew-resize;
}
.resizer:active {
  cursor: col-resize;
}
.responsive-closed{
  /*position: fixed;*/
  left: 0;
  height: 100%;
  font-size:0.3rem;
  z-index: 3;
  width: 25%;
  border-right: 1px solid rgba(110, 109, 109, 0.2);
  transition: width 0.1s ease-out;
}
