.apexcharts-menu-icon,
.apexcharts-toolbar > div {
  display: none;
}
.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center,
.apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
  display: none;
}
/* 
.main-outer{
    height: 88vh;
    display: flex;
    justify-content: space-between;
    width: 100%;

    #aside {
    width: 3vw;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.13);
    border-right: 1px solid rgb(219 219 219);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.1rem;
}
    #aside_popup {
    width: 78%;
    background-color: white;
    display: none;
    position: relative;
}
} */
.aside-outer {
  transition: width 0.2s ease; /* 부드러운 열림/닫힘 효과 */
  overflow: hidden; /* 내부 요소 숨기기 */
}
.aside-outer.closed {
  width: 0;
  overflow: hidden;
}
.aside-outer.open {
  width: 16%;
}
.aside-popup div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-outer {
  height: 92vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.aside-outer {
  width: 3%;
  margin-right: 0.07rem;
}
.blue-text {
  color: rgb(43, 43, 43);
  border-radius: 0.3rem;
}

#aside {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.13);
  border-right: 1px solid rgb(219 219 219);
  font-size: 0.56rem;
  margin-bottom: 0.04rem;
  padding: 0.1rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  color: rgb(105, 105, 105);
  padding: 0.19rem 0;
}
.nav > a {
  margin-right: 0.43rem;
}
.link-no-underline {
  text-decoration: none;
  color: inherit; /* 필요에 따라 색상을 설정하세요 */
}

.aside-popup {
  width: 99.4%;
  background-color: white;
  display: none;
  overflow-y: auto;
  height: 94.4%;
  max-height: 100%;
}
.aside-popup > div > div {
  color: rgb(145, 150, 155);
  font-size: 0.33rem;
  cursor: pointer;
  padding-top: 0.1rem;
}
/* #aside_popup_btn{
    font-size: 0.5rem;
    right: 0;
    border:none;
    top: 1px;
    color: #407885;
    font-weight:800;
    width: 100%;
    cursor: pointer;
    padding: 0.35rem 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
} */
.aside-popup-content i:first-child,
.aside-popup-second-content i:first-child,
.aside-popup-third-content i:first-child,
.aside-popup-fourth-content i:first-child {
  font-size: 0.24rem;
  margin-right: 0.27rem;
}
.aside-popup-content > span,
.aside-popup-second-content > span,
.aside-popup-third-content > span,
.aside-popup-fourth-content > span {
  margin-left: 0.1rem;
}

.aside-popup-content {
  padding-left: 0.2rem;
}

.aside-popup-second-content {
  padding-left: 0.4rem;
}
.context-menu {
  position: absolute;
  display: none;
  background-color: white;
  border: var(--border-simple);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 3px;
}
.context-menu div {
  font-size: 0.3rem;
  cursor: pointer;
  text-align: left;
  padding: 0.03rem 0.2rem 0.03rem 0.2rem;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.context-menu div:hover {
  background-color: #e6eefa;
}
.aside-popup-third-content {
  padding-left: 0.6rem;
}

/*설정(설정)팝업*/
/* .setting_setting_outer{
        display: none;
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 3;
    }
    .setting_setting_popup{
        position: absolute;
        box-sizing: border-box;
        border-radius: 4px;
        background: #fff;
        top: 50%;
        height: 87%;
        width: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
    }
    .setting_setting_popup>form{
        padding: 0.2rem 0.4rem;
    } */
/*설정(설정->역할)*/
/* #setting_part_form>div:first-child{
        padding: 0.2rem 0;
        font-weight: 600;
    }
    .setting_part_nav{
        display: flex;
        justify-content: space-between;
        font-size: 0.34rem;
        margin-bottom: 0.3rem;
    }
    
    
    .network_new_nav div.active {
        background: #e4e4e4;
        color: #449bff;
    }
    .setting_buttons{
        display: flex;
    }
    .setting_buttons div,.setting_user_buttons>div{
        padding: 0.07rem;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 3px;
        font-size: 0.3rem;
        margin-left: 0.1rem;
    }
    .radio_toolbar{
        display: flex;
        width: 51%;
        justify-content: space-between;
    }
    .setting_part_table_outer{
        height: 53vh;
        border-radius: 2px;
    }

    #setting_part_form tbody td:first-child,#setting_part_form tbody td:nth-child(2){
        text-align: center;
    } */
/*역할(새로만들기) 팝업*/
/* .setting_part_new_outer{
        display: none;
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .setting_part_new_popup{
        position: absolute;
         
        box-sizing: border-box;
        border-radius: 4px;
        background: #fff;
        top: 50%;
        z-index: 3;
        height: 63%;
        width: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); 
    }
    .set_part_text{
        border-bottom: var(--border-simple);
        font-size: 0.34rem;
        padding: 0.1rem 0.4rem;
    }
    .set_part_text>div{
        display: flex;
        
    }
    .set_part_text>div:first-child{
        margin-bottom: 0.4rem;
        justify-content: space-between;
        width: 60%;
    }
    .set_part_text>div:first-child input{
        width: 100%;
        height: 3.3vh;
        padding: 0 3px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.29rem;
        outline: none;
        border: 1px solid  rgb(206, 206, 206);
    }
    .set_part_text>div:nth-child(3){
        margin-bottom: 0.3rem;
    }
    .set_part_text>span,.set_part_checkboxs>span{
        margin-bottom: 0.1rem;
        display: block;
    } */
