
.apexcharts-menu-icon,.apexcharts-toolbar>div{
    display: none;
}
.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
    display: none;
}
/* 
#main_outer{
    height: 88vh;
    display: flex;
    justify-content: space-between;
    width: 100%;

    #aside {
    width: 3vw;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.13);
    border-right: 1px solid rgb(219 219 219);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.1rem;
}
    #aside_popup {
    width: 78%;
    background-color: white;
    display: none;
    position: relative;
}
} */
#aside_popup div {
    white-space: nowrap;       
    overflow: hidden;          
    text-overflow: ellipsis;  
}
#main_outer{
    height: 92vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.aside-outer {
    width: 3%;
    display: flex;
}
#aside {
    width: 3vw;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.13);
    border-right: 1px solid rgb(219 219 219);
    display: flex;
    flex-direction: column; /* 컬럼 방향으로 요소 정렬 */
    justify-content: space-between;
    

}
.link-no-underline {
    text-decoration: none;
    color: inherit; /* 필요에 따라 색상을 설정하세요 */
  }
#aside>#nav div, #setting_icon {
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    padding:  0.5rem 0;
    font-size: 0.6rem;
    color: rgb(105, 105, 105);
    cursor: pointer;
}
#aside>#nav>div:hover, #setting_icon:hover {
    color: black;
}
#aside_popup {
    width: 13.8vw;
    background-color: white;
    display: none;

    overflow-y: auto;   /* 세로 스크롤 자동 생성 */
    max-height: 100%;   /* 최대 높이를 지정하여 스크롤이 필요한 경우 동작하게 설정 */
}
#aside_popup>div>div {
    color: rgb(145, 150, 155);
    font-size: 0.33rem;
    cursor: pointer;
    padding-top: 0.1rem;
}
#aside_popup_btn{
    font-size: 0.5rem;
    right: 0;
    border:none;
    top: 1px;
    color: #407885;
    font-weight:800;
    width: 100%;
    cursor: pointer;
    padding: 0.35rem 0;
    display: flex; /* Flexbox 설정 추가 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.aside_popup_content i:first-child,
.aside_popup_second_content i:first-child,
.aside_popup_third_content i:first-child,
.aside_popup_fourth_content i:first-child
 {
    font-size: 0.24rem;
    margin-right: 0.27rem;
}
.aside_popup_content>span,
.aside_popup_second_content>span, 
.aside_popup_third_content>span,
.aside_popup_fourth_content >span
{
    margin-left: 0.1rem;
}
#aside_popup_first,#aside_popup_first2 {
 
}
.aside_popup_content{
    padding-left: 0.2rem;
}
#aside_popup_third_content{
    padding-left: 0.7rem;
}

#aside_popup_last_machine,#aside_popup_last_storage {
    padding-left: 1.33rem;
}

#aside_popup_last_machine>div:hover,#aside_popup_last_storage>div:hover{
    background-color: #e6eefa;
}
#aside_popup_last_machine>div span,#aside_popup_last_storage>div span{
    margin-left: 0.1rem;
}
.aside_popup_second_content{
    padding-left: 0.4rem;
    
}
#context_menu {
    position: absolute;
    display: none;
    background-color: white;
    border: var(--border-simple);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 3px;
}
#context_menu div {
    font-size: 0.3rem;
    cursor: pointer;
    text-align: left;
    padding:0.03rem 0.2rem 0.03rem 0.2rem;
    border-bottom: 1px solid rgb(226, 226, 226);
}
#context_menu div:hover {
    background-color: #e6eefa;
}
    /*설정(설정)팝업*/
    .setting_setting_outer{
        display: none;
        position: absolute; /* 시작 지점을 버튼 위, 0픽셀부터 시작하려고 주는 것*/
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 3;
    }
    .setting_setting_popup{
        position: absolute;
        box-sizing: border-box;
        border-radius: 4px;
        background: #fff;
        top: 50%;
        height: 87%;
        width: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
    }
    .setting_setting_popup>form{
        padding: 0.2rem 0.4rem;
    }
        /*설정(설정->역할)*/
    #setting_part_form>div:first-child{
        padding: 0.2rem 0;
        font-weight: 600;
    }
    .setting_part_nav{
        display: flex;
        justify-content: space-between;
        font-size: 0.34rem;
        margin-bottom: 0.3rem;
    }
    
    
    .network_new_nav div.active {
        background: #e4e4e4;
        color: #449bff;
    }
    .setting_buttons{
        display: flex;
    }
    .setting_buttons div,.setting_user_buttons>div{
        padding: 0.07rem;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 3px;
        font-size: 0.3rem;
        margin-left: 0.1rem;
    }
    .radio_toolbar{
        display: flex;
        width: 51%;
        justify-content: space-between;
    }
    .setting_part_table_outer{
        height: 53vh;
        border-radius: 2px;
    }

    #setting_part_form tbody td:first-child,#setting_part_form tbody td:nth-child(2){
        text-align: center;
    }
        /*역할(새로만들기) 팝업*/
    .setting_part_new_outer{
        display: none;
        position: absolute; /* 시작 지점을 버튼 위, 0픽셀부터 시작하려고 주는 것*/
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .setting_part_new_popup{
        position: absolute;
         
        box-sizing: border-box;
        border-radius: 4px;
        background: #fff;
        top: 50%;
        z-index: 3;
        height: 63%;
        width: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
    }
    .set_part_text{
        border-bottom: var(--border-simple);
        font-size: 0.34rem;
        padding: 0.1rem 0.4rem;
    }
    .set_part_text>div{
        display: flex;
        
    }
    .set_part_text>div:first-child{
        margin-bottom: 0.4rem;
        justify-content: space-between;
        width: 60%;
    }
    .set_part_text>div:first-child input{
        width: 100%;
        height: 3.3vh;
        padding: 0 3px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.29rem;
        outline: none;
        border: 1px solid  rgb(206, 206, 206);
    }
    .set_part_text>div:nth-child(3){
        margin-bottom: 0.3rem;
    }
    .set_part_text>span,.set_part_checkboxs>span{
        margin-bottom: 0.1rem;
        display: block;
    }
    
    .aside_popup_third_content{
        padding-left: 0.6rem;
    }
   