.tmi {
  /* a.k.a. tree menu item */
  display:flex;justify-content:flex-start;align-items:center;gap:4px;
  color:var(--color-nav) !important;
}
.tmi svg {
  aspect-ratio:1/1;width:var(--w-icon-tree) !important;
  /* height:var(--h-icon-tree) !important; */
}

.tmi.active {

}