.tmi-g { width:100%; }
.tmi {/* a.k.a. tree menu item */
  height: var(--h-tmi);
  gap:4px;
  cursor: pointer;
  color:var(--color-nav) !important;
  margin-left: 3px;
}
.tmi-icon-wrapper {
  width:var(--w-icon-tree) !important;
  aspect-ratio:1/1
}
.tmi svg {
  width:var(--w-icon-tree) !important;
  aspect-ratio:1/1;
  flex-shrink: 0;
  color: var(--color-down)
}
.tmi span {
  float:left;
  overflow:hidden;
  height: 13px;
}
.tmi:hover {
  background: var(--color-white);
}
.tmi.active {
  background: var(--color-table) !important;
}
.tmi.active span,
.tmi.active svg { color:var(--color-primary); }

.tmi#tmi-1 { padding: 2px var(--p-tmi-1); }
.tmi#tmi-2 { padding-left: var(--p-tmi-2); }
.tmi#tmi-3 { padding-left: var(--p-tmi-3); }
.tmi#tmi-4 { padding-left: var(--p-tmi-4); }
.tmi#tmi-5 { padding-left: var(--p-tmi-5); }
.tmi#tmi-2.wc { padding-left: var(--p-tmi-2-wc); }
.tmi#tmi-3.wc { padding-left: var(--p-tmi-3-wc); }
.tmi#tmi-4.wc { padding-left: var(--p-tmi-4-wc); }
.tmi#tmi-5.wc { padding-left: var(--p-tmi-5-wc); }

                            