.info-table-outer {
  padding:20px;
  background:var(--color-white);
  border-radius:8px;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table th,
.table td {
  padding: 10px;
  vertical-align: top;
  border: none;
  font-size: var(--fs-default);
}

.table th {
  text-align: left;
  min-width: 28%;
}
.table td {
  text-align: left;
  color: #757575;
}