 .info-table-outer{
    padding:20px;
    background:#efefef;
    border-radius:10px;
 }
 .table {
    border-collapse: collapse;
    width: 67%;
  }
  .table th,
  .table td {
    padding: 10px;
    vertical-align: top;
    border: none;
    font-size: var(--fs-default);
  }

  .table th {
    text-align: left;
    width: 38%;
  }
  .table td {
    text-align: left;
    color: #757575;
  }