/* Tables.css */
.custom-table td,
.custom-table th {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-table tbody tr {
  cursor: pointer;
  color: var(--color-nav);
  letter-spacing:var(--letter-28);
}

/* pagingtable.css */
.pagination {
  margin-bottom: 10px;
}
.pagination button.active {
  background-color: rgb(218, 236, 245);
}
.pagination span {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.paging-btns center{
  display: flex;
  justify-content: right;
}
/*search-box*/
.search-box button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: var(--border-simple);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box {
  width: 40%;
  display: flex;
  margin-bottom: 0.15rem;
}
.search-box input {
  height: 30px !important;
  width: 500px !important;
  width: 92%;
  outline: none;
}
.search-box > button {
  height: 30px !important;
  width: 5%;
  cursor: pointer;
  font-size: var(--fs-default);
}
.paging-btns {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 4vh;
}
.paging-btns span {
  display: block;
  margin: 0 0.2rem;
}
.paging-arrows {
  display:flex;align-items:center;justify-content:flex-end;flex-direction:row;
}
.paging-arrows > button { border:none; }
.paging-arrows > button:disabled,
.paging-arrows > button:hover { border:none !important;background-color:transparent; }
.paging-arrows > button > svg { color: white }
.paging-arrows > button:disabled > svg { color: var(--color-input-disabled); }

/*tablesOuter*/
.section-table-outer {
  font-size: var(--fs-default);
  width: 100%;
  position:relative;
}
.section-table-outer table {
  width: 100%;
  border-collapse: collapse;
}

.section-table-outer table tbody tr:nth-child(even){
  background-color:var(--color-white);
}
.selected-row {
  background-color: var(--color-hover) !important;
}
.section-table-outer table tbody tr:hover {
  background-color: var(--color-hover) !important;
}
.section-table-outer th,
.section-table-outer td {
  border: 1px solid rgb(204, 204, 204);
  height: var(--h-primary);
  padding: 0 6px;
}
.section-table-outer th {
  text-align: center;
  background-color: var(--color-table);
}

.section-table-outer input[type="checkbox"] {
  text-align: center;
}
.section-table-outer select {
  width: 100%;
}
.section-table-outer > button {
  display: flex;
  cursor: pointer;
  padding: 5px;
  font-size: var(--fs-default);
  margin-bottom: 5px;
}

/*tablerowclick*/
.row-click {
  color: var(--color-primary);
  cursor: pointer;

}
.row-click:hover {
  text-decoration: underline;
}
/*우클릭메뉴박스*/
.my-context-menu{
    position: absolute;
    background-color: white;
    z-index: 3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
