/* Tables.css */
.custom-table {
  table-layout: fixed;
  width: 100%;
}
.custom-table td,
.custom-table th {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-table tbody tr {
  cursor: pointer;
  color: var(--color-nav);
  letter-spacing:var(--letter-28);
}
.cell-ellipsis {
  /* display: block;  */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 14px;  
}
.paging-arrows {
  min-width: 100%;
}
.paging-arrows > button { border:none; }
.paging-arrows > button:disabled,
.paging-arrows > button:hover { border:none !important;background-color:transparent; }
.paging-arrows > button > svg { color: var(--color-primary-white) }
.paging-arrows > button:disabled > svg { color: var(--color-input-disabled); }

/*tablesOuter*/
.section-table-outer table {
  width: 100%; 
  border-collapse: collapse;
}
.section-table-outer table tbody tr:nth-child(even){
  background-color:var(--color-white);
}
.selected-row {
  background-color: var(--color-hover) !important;
}
.section-table-outer table tbody tr:hover {
  background-color: var(--color-hover) !important;
}
.section-table-outer td {
  border: 1px solid rgb(204, 204, 204);
  height: var(--h-primary);
  padding: 0 6px;
}
.section-table-outer th {
  background-color: var(--color-table);
  border: 1px solid rgb(204, 204, 204);
  /* border: 1px solid red; */
  height: var(--h-primary);
  padding: 0 6px;
}
.section-table-outer input[type="checkbox"] {
  text-align: center;
}
.section-table-outer select ,
.section-table-outer input[type="text"] {
  width: 100%;
  margin: 6px 0;
}
.section-table-outer > button {
  display: flex;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
}
.section-table-outer > h1 {
  padding: 10px 0;
}
/*우클릭메뉴박스*/
.my-context-menu{
  position: absolute;
  background-color: var(--color-primary-white);
  z-index: 3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
/* tippy 툴팁 */
.tooltip-content {
  max-width: 600px !important;
  white-space: pre-wrap;
  word-break: break-word;
}

.tippy-box{    
  padding: 6px;
  height: auto;
  max-width: none !important; 
  border-radius: 4px;  
  overflow-wrap: break-word;
}

table .custom-select-wrapper button,
table .input-container button {
  width: 100% !important;
}
/*th드레그*/
/* .table-resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 6px;
  cursor: col-resize;
  user-select: none;
  background-color: transparent;
} */
.table-resizer {
  width: 6px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: col-resize;
  z-index: 1;
  /* 아래 추가 */
  background: transparent;
}

