/*새로만들기*/
.network-new-popup {
  height: 75.4%;
  width: 42%;
}
.network-new-popup.edit-mode {
  height: 75%;
}
.network-new-content {
  height: 66vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.network-checkbox {
  display: flex;
  align-items: center;
}
.network-checkbox-only {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  padding:0.2rem;
}

.mtu-radio-input {
  width: 100%;
}
.mtu-text-input input {
  width: 100%;
}
.network-form-group {
  padding: 1.2% 1.2%;
}
.network-form-group input[type="text"],
.network-form-group [type="number"],
.network-form-group select {
  width: 47%;
}
.mtu-form input[type="text"] {
  width: 57%;
}
.network-new-cluster-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
.network-new-cluster-table thead {
  background-color: #d1e2eb;
  border-top: none;
}

.network-new-cluster-table th,
.network-new-cluster-table td {
  border: 1px solid rgb(209, 209, 209);
  padding: 0.05rem;
}

.network-new-cluster-form {
  padding: 0.2rem 0.4rem;
  margin-bottom: 1rem;
}
.network-new-cluster-form > span,
#network_new_vnic_form > span {
  font-weight: 600;
}
.network-new-cluster-form > div {
  border: 1px solid rgb(209, 209, 209);
  height: 37vh;
  overflow-y: auto; /* 세로 스크롤 추가 */
  overflow-x: hidden; /* 가로 스크롤 숨김 */
}

/*클러스터(네트워크 관리)*/
.manage-network-popup {
  height: 60.4vh;
  width: 58%;
}
/*호스트 네트워크 설정 */
.host-nework-content-popup {
  height: 67%;
  width: 48%;
}
.host-network-separation {
  display: flex;
  justify-content: space-between;
}
.network-separation-left {
  width: 68%;
}
.network-separation-left > div:first-child {
  display: flex;
  justify-content: space-between;
  height: 13%;
}
.network-item {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #d1e5eb;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.network-item:hover {
  border: 1.7px dashed #002a4f;
  transform: scale(1); /* 크기 10% 증가 */
}
.network-separation-left > div:first-child > div {
  width: 37%;
  text-align: center;
  padding: 0.2rem;
}
.separation-left-content {
  border: 1px solid #a3a3a3;
  display: flex;
  justify-content: space-between;
  padding: 0.15rem;
  margin-bottom: 0.16rem;
}
.separation-left-content:last-child {
  margin-bottom: 1rem;
}
.interface {
  border: 1px solid #a3a3a3;
  padding: 0.1rem;
  width: 39%;
}
.host-network-outer {
  padding: 0.2rem;
  font-size: 0.33rem;
  height: 53.5vh;
  overflow-y: auto; /* 세로 스크롤 추가 */
  overflow-x: hidden; /* 가로 스크롤 숨김 */
}
.container {
  display: flex;
  align-items: center;
  border: 1px solid skyblue;
  cursor: pointer;
  padding: 0.1rem 0.2rem;
  margin-bottom: 0.1rem;
  background-color: white;
}
.container:hover {
  background: lightblue;
}
.outer-networks {
  width: 100%;
}
.interface-header {
  margin-bottom: 0.1rem;
}
.assigned-network-outer {
  border: 1px solid #949fa3;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  width: 39%;
}
.assigned-network {
  display: flex;
  align-items: center;
  border: 1px dashed gray;
  padding: 0.1rem 0.2rem;
  cursor: pointer;
}
.left-section {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.network_separation_right {
  width: 33%;
  padding: 0 0.5rem;
}
.right-section {
  display: flex;
  gap: 5px;
}
/*본딩모달*/
.network-bonding-modal {
  height: 30%;
  width: 30%;
}
.bonding-content {
  padding: 0.2rem;
}
/*연필추가모달(outer는 app.css에있음)*/
.backup-edit-content {
  width: 100%;
}
.host-plus-checkbox {
  padding: 0.2rem;
  display: flex;
}
.backup-edit-radiobox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem;
  height: 16vh;
}

/*네트워크 인터페이스 새로만들기*/
.new-network-interface {
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  top: 50%;
  height: 45%;
  width: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}

/*네트워크(가져오기)*/
.network-bring-popup {
  height: 87%;
  width: 48%;
}
.network-form-group {
  padding: 0.2rem;
}
.network-bring-table-outer {
  padding: 0 0.4rem 0.4rem 0.4rem;
}
.network-bring-table-outer span {
  font-weight: 600;
  margin-bottom: 0.1rem;
  display: block;
}
.network-bring-table-outer > div {
  border: 1px solid #c9c9c9;
  height: 27vh;
  overflow-y: auto; /* 세로 스크롤 추가 */
  overflow-x: hidden; /* 가로 스크롤 숨김 */
}
.network-bring-table-outer table {
  width: 100%;
  border-collapse: collapse;
}
.network-bring-table-outer th,
.network-bring-table-outer td {
  padding: 0.04rem;
}
.network-bring-table-outer th {
  background-color: #d1e2eb;
  text-align: left;
  border-collapse: collapse;
}
