.footer {
  height: var(--h-rutil-footer);
  background:var(--color-primary-white);
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 5;
}
.footer > span,.footer > svg {
  font-weight: 500;
  cursor: pointer;
  color: var(--color-black);
}
.footer > svg { width: 40px;height:40px;padding:8px; }
.footer > span { height: 40px; }
.footer-content {
  overflow: hidden;
  /* border-top: var(--border-default); */
}

.footer-nav {
  flex: 1;
  overflow-y: auto;
  background:var(--color-primary-white);
}
.footer-nav table {
  width: 100%;
  border: var(--border-default);
}
.footer-resizer {
  position: sticky;
  width:100%;height:var(--thickness-border);
  cursor:row-resize;
  background-color: var(--color-border-default);
  z-index: 100;
  -webkit-user-select: none;
  border-bottom: var(--border-default);
}
  
.footer-resizer:hover {
  cursor: ns-resize;
  background-color: var(--color-hover);
}
.footer-resizer:active {
  cursor: row-resize;
}
