/* DashboardBox.css */
.dash-boxes {
  height: var(--h-dash-nav-box);
  width: 100%;
  flex-wrap: wrap;
}
.dash-boxes:first-child{
  height: auto;
}
.dash-boxes:last-child > * {
  height: 100%;
}
.box {
  min-width: 100px; height: var(--h-dash-nav-box);
  flex: 1 1 calc(100% / 6 - 8px);
  padding: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-default);
  text-align: center;
}
.box.box-graph {
  flex-grow: 1;
  width: calc(100% / 3 - 8px); /* 1열 */
  cursor: default;
}
.box:not(.box-graph):hover {
  border: var(--border-box);
}
.box > span {
  width: 100%;
  color: var(--color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box-icon {
  width:var(--w-icon);height:var(--h-icon);color:var(--color-black);
  margin:2px;
  flex-shrink: 0;
}
.box-icon.sml {
  width:var(--w-icon-tree);height:var(--h-icon-tree);
}
.box-icon {
  width:var(--w-icon);height:var(--h-icon);color:var(--color-black);
  margin:2px;
}
.box-icon.sml {
  width:var(--w-icon-tree);height:var(--h-icon-tree);
}
.box-icon-title {
  height:var(--h-text-input);
}
.box-detail {
  height:calc(4px + var(--h-text-input));
}
.box-detail,
.box-status-metric {
  align-items:flex-end !important;
}
.box-detail > h1 {
  line-height: 27px;
}
.box-status > hr { color: var(--color-black); }
.up,.alert { color: var(--color-alert); }
.error { color: var(--color-orange); }
.warning { color: var(--color-yellow); }

.graphs {
  height: calc(100% - 28px - 32px - 4px);
}
.graphs-horizontal { 
  position: inherit;
  gap: 16px;
}
.graph-sub  {
  height: 28%;
}
.graph-chart-all {
  width: 44%;
  aspect-ratio: 1/1;
}
.boxes-grid {
  align-items:flex-start !important;
}
.box-grid {
  flex-wrap: wrap;
}
.grid-matrix {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(3, 1fr);    
  gap: 8px;
  width: 100%;
  height: 100%;
}
.grid-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: var(--br-default);
  min-width: 80px;
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width:1500px) {
  .dash-boxes {
    height: calc(2 * var(--h-dash-nav-box));
  }
  .dash-boxes:last-child {
    /* width: calc(100% - 48px); */
    height: calc(100% - (2 * var(--h-dash-nav-box)));
  }
  .box {
    flex: 1 1 calc(100% / 3 - 8px);/* 한 줄에 3개씩 총 2줄*/
  }
  .box.box-graph {/* 한 줄에 3개씩 총 2줄*/
    min-width: 480px;
    height: auto !important;
  }
}

@media screen and (max-width: 768px) {
  .box {
    flex: 1 3 calc(100% / 2 - 8px);/* 한 줄에 2개씩 총 3줄*/
  }
  .box.box-graph {
    flex: 1 1 calc(100% - 8px) !important;/* 한 줄에 3개씩 총 2줄*/
    width: calc(100% - 8px); /*1열*/
  }
}
