.vm-detail-grid {
     display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 700px;
    height: auto;
    padding: 3px 10px;
    width: 100%;
    /* background: yellow; */
}
.vm-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.section-top {
  /* background-color: #fff3cd;  */
  width: 100%;
  height: auto;
  
}
.section-bottom {
  /* background-color: #f3e8ff; 
  border: 1px solid red; */
  width: 100%;
  height: auto;
  /* max-height: 340px;
  height: 100%; */
}
@media (max-width: 1424px) {
  .vm-detail-grid{
    max-height: none;
  }
 .vm-section{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .section-bottom{
    max-height: none;
  }
}