.vm-detail-grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 700px;
  height: auto;
  padding: 3px 10px;
  width: 100%;
}
.vm-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.section-top {
  width: 100%;
  height: auto;
}
.section-bottom {
  width: 100%;
  height: auto;
}
@media (max-width: 1424px) {
  .vm-detail-grid{
    max-height: none;
  }
 .vm-section{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .section-bottom{
    max-height: none;
  }
}