.footer-resizer {
  position: sticky;
  height: 3px;
  width: 100%;
  cursor: row-resize;
  /*background-color: var(--color-gray-6);*/
  background-color: #2ecc71;
  cursor: row-resize;
  z-index: 10;
  -webkit-user-select: none;
}
  
.footer-resizer:hover {
  background-color: #aaa;
}
  