#section {
  width: calc(100% - var(--w-aside-menu));height:100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--color-primary-white);
}
.content-outer {
  display: flex;
  width: 100%;
  height: calc(100% - var(--h-section-header));
}
.section-dashboard {
  background-color: #EFF1F5;
  padding: 4px;
}