/*일반파트*/
.vm-info-content {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.box-content.snapshots > .snapshot-add {
  cursor: pointer;
  color: #4679BC;
}
.box-content.snapshots > .snapshot-add:hover{
  background: var(--color-white-2);
}
.snapshots .snapshot-entry {
  padding:3px 0;
}
.snapshot-entry-name {
  max-width:274px;
  white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
}
.info-value-wrap {
  word-break: break-word;  
  white-space: normal;     
  max-width: 100%;         
}
/* 반응형 */
@media (max-width: 1424px) {
  .half-box {
    flex: 1 1 100%;
    min-width: 100%;
    padding: 10px 0;
  }
  .vm-info-vnc{
    margin: 20px 0;
  }
}

.virtviewer-popover {
  margin-top: 4px;
  z-index: 9999;
  width: 130px; 
  border-radius: 3px;
  border: 1px solid var(--color-primary); 
  background-color: var(--color-white);
  padding: 10px; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1); 
}
.virtviewer-popover-header {
  font-size: var(--fs-default); 
}

.virtviewer-popover-link {
  display: flex;
  align-items: center;
  gap: 3px; 
  font-size: var(--fs-10); 
  color: var(--color-primary);
  text-decoration: none;
}

.virtviewer-popover-link:hover {
  text-decoration: underline;
}
/* 네트워크 인터페이스 */
.network-content {
  width: 100%;
  border-bottom: var(--border-default);
  cursor: pointer;
  padding: 12px;
}
.network-content:hover {
  background-color: #ebececd8;
}
.network-content > div {
  max-width: 250px;
  min-width: 150px;
}
.network-content-detail > div {
  width: 50%;
  padding: 10px;
}
.network_content2.selected .network-content {
  color: var(--color-primary);
  font-weight: 600;
  background: var(--color-table) !important;
}
@media (max-width: 1200px) {
  .vm-detail-general-boxs {
    flex-wrap: wrap;
  }
  .vm-info-vnc-group {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.btn-vnc-icon, .btn-vnc {
  background-color: var(--color-primary);
  color: var(--color-white);
  
}
.btn-vnc { padding: 11px; }
.btn-vnc-icon { padding: 6px; }
.vm-info-vnc {
  width: 210px;
}
.vm-info-vnc-group {
  display:flex;
  justify-content:flex-start;
  align-items: center;
}