/*일반파트*/
.vm-detail-general-boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  gap: 16px;
}
.detail-general-box {
  flex: 1;
  padding: 24px;
  border-radius: 8px;
  background:var(--color-white);
  max-width: 45%; /* ✅ 더 빨리 떨어지도록 조정 */
  min-width: 500px; /* ✅ 너무 작아지는 것 방지 */

}
.detail-general-box > h1 {
  font-size: var(--fs-16);
  font-weight: 700;
  border-bottom: 1px solid #C6C6C6;
  padding-bottom: 12px;
}
.detail-general-box .info-table-outer{
  padding: 0 !important;
}
.capacity {
  font-size: var(--fs-default);
  padding: 0.2rem;
}
.capacity > div:first-child {
  font-weight: 600;
}
.capacity_outer {
  flex-direction: column;
  display: flex;
  height: 70%;
  justify-content: space-between;
}
.capacity_box {
  display: flex;
  height: 48%;
  justify-content: space-between;
  align-items: center;
}
.related_object {
  display: flex;
  align-items: center;
}
.vm_table_container {
  width: 100%;
}
.detail-general-boxs-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.vm-general-box {
  display: flex;
  font-size: var(--fs-defult);
  align-items: center;
  font-weight: 600;
  border-bottom: 1px solid #dedede;
  padding: 0.1rem;
}
.vm-general-bottom-box {
  width: 33%;
  border: 1px solid #dedede;
 
}
.vm-add-snapshot-btn {
  display: flex;
  font-size: var(--fs-defult);
  align-items: center;
  background: #d7e8ef;
  padding: 0.1rem;
  margin: 0.2rem;
}
.vm-add-snapshot-btn:hover {
  font-weight: 600;
  cursor: pointer;
  color: blue;
}
.disk-bar {
  height: 90%;
}
/*네트워크 인터페이스*/
.network-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-16);
  border-bottom: 1px solid rgb(226, 226, 226);
  cursor: pointer;
  align-items:center;
}
.network-content:hover {
  background-color: #ebececd8;
}
.network-content > div:first-child {
  padding: 10px;
}
.network-content > div{
  min-width:200px;
}
.network-content > div:nth-child(n + 2) {
  text-align: center;
  padding-top: 0.4rem;
}
.network-content > div > div:nth-child(2) {
  font-size: var(--fs-default);
  color: #4f4f4f;
}
.network-content-detail > div {
  width: 50%;
  padding: 10px;
}
.network-content-detail-box > div {
  font-size: var(--fs-default);
  margin-bottom: 3px;
}
/*스냅샷*/
.snapshot-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-16);
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 10px 0;
  align-items: center;
  cursor: pointer;
}
.snapshot-content:hover {
  background-color: #ebececd8;
  border-left: 2px solid rgb(161, 161, 161);
}
.snapshot-content-left {
  color: #4f4f4f;
  width: 20%;
  display: flex;
}
.snapshot-content-left > div {
  border-radius: 50%;
  padding: 3%;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}
.snapshot-content-left span {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.snapshot-content-left i {
  margin-top: 1px;
}
.snapshot-content-right {
  color: #4f4f4f;
  display: flex;
  justify-content: right;
  width: 60%;
}

.snap-hidden-content {
  display: none;
  overflow: hidden;
}
.snap-hidden-content.active {
  display: block;
  max-height: 33vh;
  border: 1px solid #b9b9b9;
  border-top: none;
  color: gray;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.3rem;
  font-size: var(--fs-16);
}
.snap-table {
  height: 100%;
  width: 63%;
  text-align: left;
  color: gray;
  margin-bottom: 1rem;
}
.snap-table tr{
  align-items: center;
  display: flex;
  width: 100%;
    justify-content: space-between;
}
.snap-table:last-child {
  margin-bottom: 0;
}
@media (max-width: 1600px) {
  .detail-general-box {
    max-width: 100%; /* ✅ 한 줄로 배치 */
  }
}