


.snapshot-item.selected {
  background-color: #E2E5EB !important;
}
.snapshot-label {
  word-break: break-all;
  color: var(--color-nav);
}
.snap-table {
  height: 100%;
  width: 63%;
  text-align: left;
}
.snap-table tr {
  width: 100%;margin-bottom: 6px;
}
.snap-table th {
  font-weight: 600;
  line-height: 22.5px;
  width: 45%;
  min-width: 45%;
}
.snap-table td {
  word-break: break-all;
  width: 45%;
  margin-left: auto;
}
.snap-table:last-child {
  margin-bottom: 0;
}

