.bell-box {
  position: absolute;top:var(--h-rutil-header);right: 0;
  width: var(--w-bell-box);
  background-color: #ffffff;
  z-index: 200;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2); 
}
.bell-box.expanded {
  width: var(--w-bell-box-expanded); /* 확장 시 */
}
.bell-box.footer-active {
  height: auto; 
}
.bell-box > div {
  width:100%;
  border-bottom: 1px solid var(--color-table);
  overflow: overlay;
}
.bell-cate {
  height: 40px;
  overflow-y: hidden !important;
  /* background: linear-gradient(to bottom, rgba(200, 200, 200, 0.1), rgba(200, 200, 200, 0.3));  */
}
.bell-cate .bell-header-icon {
  height:40px;aspect-ratio:1/1;
  cursor: pointer;
}
.bell-cate-section {
  width:100%;cursor: pointer;
}
.event-section {
  max-height: 78%;
  display: flex;
  flex-direction: column;
}
.event-section.open {
  max-height: 400px;
  padding: 10px;
}
.bell-content-outer {
  max-height: 634px;
  display: flex;
  flex-direction: column;
}
.bell-btns {
  height: 48px;
}
.bell-btns > div {
  width: 50%;
  cursor: pointer;
  color: var(--color-active);
}
.bell-btns>div:hover{
  text-decoration: underline;
}
.bell-content {
  width: 100%;
  padding: 12px 8px;
  gap: 2px;
  /*background-color: antiquewhite;*/
  color: var(--color-nav);
  border-bottom: 1px solid var(--color-table);
  transition: height 0.3s ease-in-out;
}
.bell-content:hover {
  background: #e3f7f9;
}
.bell-content 
.bell-icon {
  width:20px;height:20px;aspect-ratio:1/1;
}
.bell-icon:hover {
  color: #1d1d1d !important;
}
.bell-icon.bell-icon-trash {
  margin-left: auto;
  cursor: pointer;
}
.bell-mid {
  width:calc(100% - 55px);height:100%;
  white-space: normal;
  align-items:flex-start !important;
}
.bell-mid p { 
  /*height: auto;max-height:32px;*/
  overflow: hidden;
  text-overflow: ellipsis;
}
/* bell-content가 활성화되었을 때 (내용에 따라 높이 자동 조절) */
.bell-content.open {
  max-height: 1000px; 
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  text-decoration: underline;
  color: var(--color-primary-h);
}
.trash-icon:hover {
  color: #1d1d1d !important;
}
.logo-outer {
  cursor: pointer;
}
