/* .header {
  position:relative;width:100%;height:var(--h-rutil-header);
  background-color:var(--color-primary);
} */
.header {
  position:relative;width:100%;height:var(--h-rutil-header);
  background-color:var(--color-primary);
  /*
  z-index: 10;
  background-image: url("./img/headerbackground.png");
  background-size: cover;    
  background-repeat: no-repeat; 
  background-position: center;
  */
}