/* 모달 왼쪽nav */
.tab {
  color: black;
}
.tab.active {
  background: var(--color-hover);
  font-weight: 600 !important;
  color: var(--color-primary);
  border-right: 2px solid var(--color-primary-hover);
}

.network-backup-edit {
  width: 48%;
}
.network-backup-edit-nav {
  width: 23%;
  border-right: var(--border-default);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  color: var(--color-nav);
}
.network-backup-edit-nav > div {
  height: 36px;
  padding-left: 8px;
  cursor: pointer;
  font-weight: 300;
}
.network-backup-edit-nav > div:hover{
  background: var(--color-white);
}
.backup-edit-content {
  width: 86%;
  padding: 0 24px;
}