.content-header {
  border-radius: 3px;
  width: var(--w-nav);
  border-right: var(--border-default);
}
.content-header > * {
  height: 36px;
  color: var(--color-nav);
  cursor: pointer;
  padding-left:20px;
}
.content-header span:hover {
  background: var(--color-white);
}
.content-header span.active {
  color: var(--color-primary);
  background: var(--color-table) !important;
  font-weight: 600;
}

.content-header span.active::after {
  width: 4px;height: 100%;
  margin-left: auto;
  background-color: var(--color-primary-hover);
  content: '';
}
