.content-header {
    border-right: var(--border-simple);
}
.active {
    transition: all 0.3s ease;
}

.content-header-left {
   
    border-radius: 3px;
    width: var(--w-nav);
}

.content-header-left div {
    position: relative;
    font-size: var(--fs-15);
    cursor: pointer;
    color: black;
    padding:13px 7px;
}

.content-header-left div.active {
    color: #6999D9;
    font-weight: 600;
    background-color: #e6eefa;
}

.content-header-left div.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 2px;
    background-color: #6999D9;
}
