.content-header {
  border-right: var(--border-default);
}
.active {
    transition: all 0.3s ease;
}

.content-header-left {
    border-radius: 3px;
    width: var(--w-nav);
}

.content-header-left div {
    position: relative;
    font-size: var(--fs-14);
    cursor: pointer;
    color: var(--color-nav);
    padding-left:20px;
    height: 36px;
}
.content-header-left div:hover{
    background: var(--color-white);
}
.content-header-left div.active {
    color: var(--color-primary);
    font-weight: 600;
    background: var(--color-table) !important;
}

.content-header-left div.active::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: var(--color-primary-hover);
}
