.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  gap: 2px;
  width: 90%;
}

.grid-item {
  border: 1px solid #d9d9d9;
  display: flex;
  cursor:pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 44px;
  border-radius: 4px;
  background-color: inherit; /* 기본 배경색 제거 또는 상속 */
  transition: opacity 0.1s ease-in-out;
  overflow: hidden; 
  font-size: var(--fs-18);
  font-weight: 700;
}
.grid-item:hover {
  opacity: 0.7;
}

.percent placeholder{
  margin-top: 5px;
  font-size: var(--fs-default-4);
  color: #000000;
  z-index: 1;
}
