

.legend-bar-container {
    display: flex;
    justify-content: right;
    gap: 12px;
    margin-top: -5px;
    padding-right: 24px;
    font-size: var(--fs-default);
  }
  .legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .legend-color {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    display: inline-block;
  }