.grid-item {
  cursor: pointer;
  min-height:30%;
  border-radius: var(--br-default);
  flex: 1 1 calc(100% / 5 - 8px);
}
.grid-item.crit { background-color: #E21D1D; }
.grid-item.warn { background-color: #F46C53; }
.grid-item.norm { background-color: #FFC58A; }
.grid-item.okay { background-color: #E7F2FF; }
.grid-item.empty{ background-color: #F8F8F8} 
.grid-item.disabled { background-color: #F8F8F8;cursor: not-allowed; }

.grid-item:hover {
  opacity: 0.7;
}
.grid-item-percent placeholder {
  margin-top: 5px;
  color: #000000;
  z-index: 1;
}
.grid-item-name {
  text-align: center;
  width: 80px;
  white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
}
#grid-tooltip {
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: var(--br-default);
  z-index: 9999;
}
@media screen and (min-width: 2800px) {
  .grid-item {
    width: calc(100% / 8 - 8px);
    flex: 1 1 calc(100% / 8 - 8px);
  }
}
@media screen and (max-width:1400px) {
  .grid-item {
    width: calc(100% / 8 - 8px);
    flex: 1 1 calc(100% / 8 - 8px);
  }
}