.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--p-default);
  width: 90%;
}
.grid-item {
  border-radius: var(--br-default);
  cursor: pointer;
  height: 35px;
  font-size: var(--fs-12);
}
.grid-item:hover {
  opacity: 0.7;
}
.grid-item.disabled {
  cursor: not-allowed;
}
.percent h1 {
  font-size: var(--fs-15);
  font-weight: 700;
}
.percent .unit {
  font-size: var(--fs-13) !important;
}
.percent placeholder {
  margin-top: 5px;
  font-size: var(--fs-default);
  color: #000000;
  z-index: 1;
}
.grid-item-name {
  font-size: 9px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#grid-tooltip {
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: var(--br-default);
  font-size: var(--fs-default);
  z-index: 9999;
}
@media screen and (min-width: 2000px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--p-default);
    width: 90%;
    min-height: 197px;
  }
  .grid-item {
    border-radius: var(--br-default);
    cursor: pointer;
    height: 56px;
    width: 180px;
  }
  .percent h1 {
    font-size: var(--fs-21);
  }
  .grid-item-name{
    font-size: var(--fs-13);
  }
  .percent .unit{
    font-size: var(--fs-16) !important;
  }
}