/*새로만들기*/
/* .network-new-cluster-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
.network-new-cluster-table thead {
  background-color: #d1e2eb;
  border-top: none;
}

.network-new-cluster-table th,
.network-new-cluster-table td {
  border: var(--border-simple);
  padding: 1px 3px;
} 
.plusbtns {
  display: flex;
  align-items: center;
  border-radius: 2px;
}
.plusbtns > button {
  height: 100%;
}
*/
.network-new-cluster-form {
  margin-bottom: 20px;
}
.network-new-cluster-form > span {
  font-weight: 600;
}
.network-new-cluster-form > div {
  border: var(--border-simple);
  height: 37vh;
  overflow-y: auto; /* 세로 스크롤 추가 */
  overflow-x: hidden; /* 가로 스크롤 숨김 */
}



/*연필추가모달(outer는 app.css에있음)*/
.backup-edit-content {
  width: 100%;
}
.host-plus-checkbox {
  padding: 0.2rem;
  display: flex;
}
.backup-edit-radiobox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
}

/*네트워크(가져오기)*/
.network-bring-table-outer h1 {
  font-size: var(--fs-16);
  font-weight: 700;
  padding: 10px 0;
}
.network-bring-table-outer > div {
  border:var(--border-simple);
  height: 27vh;
  overflow-y: auto; /* 세로 스크롤 추가 */
  overflow-x: hidden; /* 가로 스크롤 숨김 */
}
