.dynamic-select-outer{
  width: 50%;
}
.dynamic-select{
  width:55%;
  border: var(--border-btn);border-radius: 1px;
  font-size: var(--fs-default);
  padding: 2px;
  outline: none;
  border-radius: 1px;
  letter-spacing: -0.28px;
}
.dynamic-select-outer .custom-options{
  width: 100%;
}
.dynamic-btns {
  min-width: 71px;
}
/*
.dynamic-btns > svg {
  width: 26px;
  height: var(--h-primary);
  color: var(--color-gray);
  align-items: center !important;
  display: flex;
}
.dynamic-btns > svg:hover {
  color: var(--color-black);
  border: var(--border-btn);
}
*/
