.dynamic-select-outer {
  width: 50%;
}
.dynamic-select-outer button {
  width:260px;max-width:260px;
}
.dynamic-select {
  width: 55%;
  border: var(--border-btn);border-radius: 1px;
  padding: 2px;
  outline: none;
  border-radius: 1px;
  letter-spacing: -0.28px;
}
.dynamic-select-outer .custom-options{
  width: 100%;
}
.dynamic-btns,
.nic-label {
  width: 71px;
  /* min-width: 71px; */
}
