.input-text,
.input-select,
.input-password,
.input-number {
  width: 100%;
  padding: 8px;
  display: flex;justify-content: space-between;align-items: center;
}
.input-text > input,
.input-password > input,
.input-number > input {
  padding: 10px
}
.input-checkbox {
  width: 100%;
  padding: 8px;
  display: flex;
}
.input-checkbox input {
  margin: 0 8px;
}
