.input-text,
.input-select,
.input-password,
.input-number {
  width: 100%;
  padding: 8px 0;
  white-space: nowrap; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input[type="text"],
input[type="number"],
input[type="password"],
select,.input-select select, 
.custom-select-box {
  width:55%;height:var(--h-input);
  border:var(--border-default);border-radius:1px;
  text-indent: 4px;
  color: var(--color-black);
  outline: none;
  cursor: pointer;
  border-radius: 1px;
  letter-spacing: -0.28px;
}
textarea{
  width: 100%;
  border: var(--border-default);
  padding: 3px;
  outline: none;
}
.input-container{
  position: relative;
}
.password-toggle-icon {
  position:absolute;top:50%;right:10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--color-nav);
}
.custom-select-box {
  background-color: var(--color-white);
}
.custom-select-box svg {
  flex-shrink: 0;margin-left:auto;
}
.custom-select-box span {
  width: auto;
  max-width: 310px;
  white-space: nowrap;   
  overflow: hidden;       
  text-overflow: ellipsis; 
}

.input-checkbox {
  width: 100%;padding:7px 0;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 6px;
  width: 15px;height: 15px;
  display: flex;justify-content: center;align-items:center;
  cursor: pointer;
}

/*select박스*/
.custom-select-wrapper {
  position: relative;
}

.custom-select-box.disabled ,
.custom-select.disabled {
  color: #888888;
  cursor: not-allowed;
}
.custom-select-select {
  position: relative;
}
.custom-options {
  position: absolute;top: 75%;right: 0;
  min-width: 55%;
  max-height: 142px;
  background: var(--color-primary-white);
  border-top: none !important;
  border: var(--border-default);border-radius: 1px;
  z-index: 10;
  overflow-y: auto;
}

.custom-option {
  height:var(--h-input) !important;
  line-height:var(--h-input) !important;
  padding: 0 5px;
  cursor: pointer;
}

.custom-option:hover {
  background-color: var(--color-white);
}
.custom-option.selected {
  background-color: var(--color-white);
  font-weight: 600;
}