/*도메인(새로만들기, 편집, 가져오기)*/
.storage-domain-new-outer{
  width:100%;height:var(--h-modal-content);
}
.storage-domain-new-first{
  border-bottom: 1px solid var(--color-table);
}
.storage-domain-new-first>div:first-child{
  border-bottom: 1px solid var(--color-table);
}

.domain-new-select{
  width: 100%;
  margin-bottom: 0.3rem;
}
.domain-num-box{
  padding: 14px 0;
  font-size: var(--fs-14);
}

/*도메인 삭제*/
.domain-delete-popup{
  height: 33.4vh;
  width: 38%;
}
/*도메인 파괴*/
.destroy-text{
  color: red;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
}
/*도메인 유지관리*/
.domain-name-box{
  font-weight: 700;
  margin-bottom: 10px;
}
/*가상머신 / 템플릿 가져오기*/
.get-vm-template{
  height: 70%;
  width: 48%;
}

.get-template-info{
  overflow-y: auto;
  height: 26vh;
  overflow-x: hidden;
  display:flex;
  justify-content:space-between;
}
.get-template-info>div{
  width: 44%;
  background: var(--color-white);
  height: 100%;
}
.get-template-info>div>div{
  display:flex;
  justify-content:space-between;
}
.filter-table{
  border: var(--border-btn);
  padding: 12px;
}
.filter-table .info-table-outer{
  padding: 0;
}
.filter-table .table{
  width: 100%;
}
.filter-table .table th{
  width: 42%;
}
.filter-table .table th,.table td{
  padding: 7px;
}