/*도메인(새로만들기, 편집, 가져오기)*/
.storage-domain-new-outer{
  width:100%;height:var(--h-modal-content);
}


.domain-new-select{
  width: 100%;
  margin-bottom: 0.3rem;
}
.domain-num-box{
  padding: 14px 0;
  font-size: var(--fs-14);
}

/*도메인 삭제*/
.domain-delete-popup{
  height: 33.4vh;
  width: 38%;
}
/*도메인 파괴*/
.destroy-text{
  color: red;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
}
/*도메인 유지관리*/
.domain-name-box{
  font-weight: 700;
  margin-bottom: 10px;
}
/*가상머신 / 템플릿 가져오기*/
.get-vm-template{
  height: 70%;
  width: 48%;
}

.get-template-info{
  overflow-y: auto;
  height: 26vh;
  overflow-x: hidden;
  display:flex;
  justify-content:space-between;
}
.get-template-info>div{
  width: 44%;
  background: var(--color-white);
  height: 100%;
}
.get-template-info>div>div{
  display:flex;
  justify-content:space-between;
}
.filter-table{
  border: var(--border-btn);
  padding: 12px;
}
.filter-table .info-table-outer{
  padding: 0;
}
.filter-table .table{
  width: 100%;
}
.filter-table .table th{
  width: 42%;
}
.filter-table .table th,.table td{
  padding: 7px;
}

/* iscsi 대상검색*/
.target-search-outer{
  padding: 12px 0;
}
.label-font-name{
  font-size: var(--fs-16);
  font-weight: 700;
}
/* .use-chap-outer{
  background: var(--color-white);
  border-radius: 1px;
  border: 1px solid var(--color-table);
} */
.use-chap-arrow {
  background-color: var(--color-white); /* ✅ 토글영역에만 배경 */
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* border: 1px solid var(--color-table); */
  border-radius: 2px;
}
.use-chap-content{
  padding: 0 5px;
}

.input-inline-wrap {
  display: flex;
  align-items: flex-end; /* 라벨 높이 맞추기 */
  gap: 20px;             /* 주소-포트 사이 간격 */
  margin-bottom: 8px;
}

.target-btn{
  width: 100%;
  justify-content: right;
  display: flex;
  padding-bottom: 3px;
}
.target-btn>button{
  height: 28px;
  padding: 0 12px;
  border: var(--border-btn);
}


/* 펼쳐진 내용 */
.use-chap-content {
  padding: 8px;
  padding-top: 0;
  padding-bottom: revert;
  display: flex;
  align-items: flex-end; /* 라벨 높이 맞추기 */
  gap: 20px;             /* 주소-포트 사이 간격 */
  margin-bottom: 8px;
}

/* 사용자 인증이 ON일 때 전체 div에 배경색, 테두리 */
.target-search-right.with-background {
  background-color: var(--color-white);
  border: 1px solid var(--color-table);
  border-radius: 2px;
}
