.summary-box {
  background: var(--color-white-1);
  border: 1px solid #e2e8f0;
  border-radius: 2px;
  padding: 12px 14px;
  min-height: 158px;
  font-size: 14px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.03);
}

.summary-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
   margin-bottom: 7px;
}

.summary-box-content {
    margin-top: 6px;
    height: 80%;
    display: flex;
    padding: 0 30px;
    align-items: den;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.badge {
  background: var(--color-white);
  padding: 3px 13px;
  border-radius: 9999px;
  font-size: 12px;
  font-weight: 700;
}
