.rvi {
  /* a.k.a rutil-vm-icon */
  width: var(--w-icon);
  height: var(--h-icon);
}
.rvi.rvi-menu {
  color: var(--color-primary-white);
}
.rvi-outer {
  height: 100%;
  padding: 19px;  
  cursor: pointer;
}
.rvi-outer:hover {
  color: rgb(113, 149, 163);
  background-color: var(--color-primary-hover);
}
.rv-logo {
  margin: 0 10px ;
  width: 120px;
}
.rv-logo.no-hover:hover {
  background-color: none !important;cursor:pointer;
}
.rvi.rvi-nav {
  width:var(--h-icon-nav);height:var(--w-icon-nav);
  color:var(--color-black);
  text-decoration:none;
  border-radius: 20px;
}
.rvi.rvi-nav:hover {
  background: var(--color-white-2);
}
.rvi.rvi-nav.active {
  background: var(--color-primary);
}
.rvi.rvi-nav.active svg {
  color: var(--color-primary-white);
}
.rvi.rvi-nav.inverse:hover {
  color: var(--color-hover);
}
.rvi.rvi-nav.inactive {
  background-color: transparent !important; 
}
