/* max supported dimensions in oVirt API */
.icon-os-wrapper {
  width: 240px;
 
}
.icon-os-wrapper>div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  border: 1px solid rgb(182, 182, 182);
  background: var(--color-white);
}
.icon-os {
  max-width: 150px;
  max-height: 120px;
  overflow: hidden;
  display: block;
  height: 106px;
}

.icon-os-wrapper button{
  background-color: rgb(0, 30, 110);
  color: white;
  padding: 11px;
}