.network-item {
  padding: 15px;
  margin-bottom: 10px;
  border: var(--border-default);
  border-radius: 1px;
  background-color: var(--color-white);
  text-align: center;
  cursor: pointer;
  padding: 8px 16px;
  align-self: stretch;
}
.network-item:hover {
  border: 1.7px dashed #002a4f;
  transform: scale(1); 
}
.host-network-outer {
  padding: 0.2rem;
  height: 53.5vh;
  overflow-y: auto; 
  overflow-x: hidden;
}
.container {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-default);
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 1px;
}

.interface-content-outer{
  width: 39%;
}
.interface-content{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.network-stack {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.assigned-network-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  min-height: 38px; 
  background-color: var(--color-primary-white);
}

.interface-outer{
  background: #dbdada;
  border: var(--border-default);
}
.interface-container {
  border: var(--border-default);
  background: rgb(255, 255, 255);
}
.group-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-span>div{
  width: 50%;
  text-align: center;
}
.assigned-network-outer{
  border: var(--border-default);
}

.custom-ok-button {
  background-color: var(--color-primary-hover);
  color: var(--color-white-2);
  border:1px solid var(--color-primary-hover);
  padding: 7px 10px;
}
.custom-ok-button:last-child{
  background-color: var(--color-white-1);
  border: var(--border-btn);
  color: var(--color-black) !important;
}
.col-40 {
  flex: 0 0 45%;
  max-width: 40%;
}

.col-20 {
  flex: 0 0 10%;
  max-width: 20%;
}

.row {
  display: flex;
  width: 100%;
}
