/*세부정보*/
.host-content-outer{
    width: 100%;
    padding: 0.2rem 0;
    font-size: var(--fs-16);
    height: 100%;
    overflow-y: auto; /* 세로 스크롤바를 필요할 때 표시합니다 */
}
.host-table{
    text-align: left;
}

.host-table{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: var(--fs-default);
}

.host-table th{
    text-align: left ;
    width: 60%;
    padding: 0.06rem 0 ;
}
.host-table tr{
    width: 100%;
}
/* 호스트 네트워크 인터페이스 */ 
.host-network-boxs:hover{
    background:#e6eefa;
 }
 .host-tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    border-radius: 4px;
    overflow: hidden; 
    width: fit-content;
    font-size: var(--fs-14);
    font-weight: 500;
    margin-bottom: 16px;
  }
  
  .host-tabs .tab-button {
    padding: 0 40px;
    border: none;
    height: 32px;
    color: var(--color-nav);
    font-weight: 500;
    border-right: 1px solid gray;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .host-tabs .tab-button:last-child {
    border-right: none; 
  }
  
  .host-tabs .tab-button.active {
    background-color: var(--color-primary-hover);
    color: white;
    font-weight: 700;
  }
  
  .host-nic-table-outer{
    overflow-y: auto;
    height: 67.3vh;
    overflow-x: hidden;
  }

 .host-network-boxs{
     margin-bottom:0.2rem;
 }
 .h-network-change-table{
    padding:0.1rem 0.4rem;
}
.h-icon-btn{
    padding:3px;
}
.host-network-hiddenbox{
    background-color: white;
    padding: 0.2rem;
}


.host-network-contents{
  background:var(--color-white);
  display:flex;
  width: 100%;
  padding: 0 30px;
  padding: 24px 36px;
}
.host-network-contents>div:first-child{
   display:flex;
   margin-bottom: 9px;
   padding-right: 36px;
}
.host-network-contents .info-table-outer{
   width: 100% !important;
   padding: 0  ;
   padding-left: 16px;
}