/* 호스트 네트워크 인터페이스 */ 
.host-network-boxs:hover{
  background:#e6eefa;
}

.host-tabs {
  width: fit-content;
  margin-bottom: 16px;
  border: 1px solid gray;border-radius: 4px;
  overflow: hidden; 
}
  
.host-tabs .tab-button {
  padding: 0 40px;
  border: none;
  height: 32px;
  color: var(--color-nav);
  font-weight: 500;
  border-right: 1px solid gray;
  transition: background-color 0.3s, color 0.3s;
}

.host-tabs .tab-button:last-child {
  border-right: none; 
}
  
.host-tabs .tab-button.active {
  background-color: var(--color-primary-hover);
  color: white;
  font-weight: 700;
}


/*호스트 네트워크 설정 */
/* .network-separation-left {
  width: 78%;
  background-color: var(--color-white);
  border-radius: 1px ;
  min-height: 45vh;
  padding: 16px;
}
.network-separation-right {
  width: 33%;
  padding: 0 11px;
  background-color: var(--color-white);
  margin-left: 30px;
  padding: 14px;
} */

.network-item {
  padding: 15px;
  margin-bottom: 10px;
  border: var(--border-default);
  border-radius: 1px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  padding: 8px 16px;
  align-self: stretch;
}
.network-item:hover {
  border: 1.7px dashed #002a4f;
  transform: scale(1); /* 크기 10% 증가 */
}
.network-separation-left > div:first-child > div {
  width: 37%;
  padding: 0.2rem;
  text-align: center;
}
.separation-left-content {
  border-bottom: 1px solid #a3a3a3;
  padding: 16px 0;
  margin-bottom: 7px;
}
.separation-left-content:last-child {
  margin-bottom: 1rem;
}
.interface {
  border: var(--border-default);
  padding: 8px 10px;
  width: 39%;
  background: white;
  border-radius: 1px;
}
.host-network-outer {
  padding: 0.2rem;
  height: 53.5vh;
  overflow-y: auto; /* 세로 스크롤 추가 */
  overflow-x: hidden; /* 가로 스크롤 숨김 */
}
.container {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-default);
  cursor: pointer;
  padding: 8px 16px;
  margin-bottom: 6px;
  border-radius: 1px;

}

.interface-header {
  color: var(--color-black);
  letter-spacing: -0.36px;
  padding: 5px 0;
}
.unassigned-network {
  text-align: center;
  padding: 0.2rem;
  margin-bottom: 15px;
}



/*네트워크인터페이스 */
.interface-content-outer{
  width: 39%;
}
.interface-content{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.assigned-network-outer,.empty-network-content{
  border: var(--border-default);
  background-color: rgb(255, 255, 255);
}
.assigned-network-content{
  display: flex;justify-content: space-between;
  width: 100%;
}

.interface-outer{
  background-color: rgb(184, 13, 13);
  /* background: var(--color-input-disabled); */
  border: var(--border-default);
}
.interface-container-outer {
  background-color: rgb(141, 197, 52);
}
.interface-container {
  border: var(--border-default);
  background-color: rgb(117, 111, 111);
}

.group-span>div{
  width: 50%;
  text-align: center;
}
.host-graph{
  min-width: 40%;
  font-weight: 600;
  font-size: var(--fs-14);
}
