.Overlay {
  background-color: #6868684f;
  position: fixed;top: 0;left: 0;right: 0;bottom: 0;
  z-index: 999;
  overflow-x: auto;
}
.modal {
  position: absolute;
  height: auto;max-height: var(--h-modal-max);
  padding: 16px 24px;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  border:var(--border-default);border-radius: 8px;
  background: white;
}
.popup-header {
  width: 100%;height: var(--h-modal-header);
  color: var(--color-black);
  padding-bottom: 16px;
}
.popup-header > button {
  margin-top: 1px;
  padding: 0 !important;
  border: none;
  cursor: pointer;
}
/*footer*/
.popup-contents {
  height: var(--h-modal-content);
  max-height: calc(var(--h-modal) - 10px);
  overflow-y: auto;
}
.popup-contents-prompt {
  height: auto;
  padding: 15px 0;
}
/*footer*/
.edit-footer {
  width: 100%;height: var(--h-modal-footer);
  background-color: white;
}
.edit-footer button {
  height: var(--h-32);
  padding: 0 16px;
  margin-top: 10px;margin-left: 10px;
  border: var(--border-default);
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: -0.32px;
}
.edit-footer button.action {
  background-color: var(--color-primary-hover);
  color: var(--color-white);
  border: var(--border-modal-btn);
}
.edit-footer button.action:hover {
  background-color: var(--color-primary);
}
.edit-footer button.cancel {
  border: var(--border-btn);
}
.edit-footer button.cancel:hover{
  background-color: var(--color-white);
}
/*
.edit-footer button:first-child,
.edit-footer button:nth-child(3) {
  background-color: rgb(218, 218, 218);
  border: var(--border-default);
}
*/
