/*새로만들기*/
/* .vm-edit-popup-content {
  width:100%;height:var(--h-modal-content);
  display:flex;justify-content:flex-start;align-items:center;flex-direction:row;
} 
.cpu-res-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}  
  .vm-new-nav {
  height: 48vh;
  width: 60%;
  background-color: #fafafa;
  border-right: var(--border-default);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-weight: 800;
}
.vm-new-nav > div {
  padding: 15px 9px;
  cursor: pointer;
  width: 100%;
}
.ha-mode-second-content > div:nth-child(n + 2):nth-child(-n + 3),
.ha-mode-article > div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}

.ha-mode-article > span {
  font-weight: 600;
  margin-bottom: 0.7%;
  display: block;
}
  .edit-third-content > div:nth-child(2) > button {
  margin-right: 0.2rem;
}
.edit-third-content button {
  padding: 0.08rem 0.15rem;
  font-weight: 600;
  cursor: pointer;
}
  .new-template-popup .section-table-outer {
  height: 15vh;
  overflow-x: hidden;overflow-y: auto;
  border-bottom: 1px solid gray;
}
*/
.vm-edit-select-tab {
  width: 86%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 24px;
  background-color: white;
}
.form-checks > div {
  padding-top: 10px;
}
.form-checks > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.select-host>div:nth-child(2){
  width:55%;
}
.select-host select {
  width:100%;height:90px;
}
.instance-disk-btn{
  background-color:var(--color-white);
  padding: 5px 10px;
  margin-left: 4px;
  border: var(--border-default);
  border-radius: 4px;
  font-weight: 500;
}
.host-option-item.selected {
  background: var(--color-white);
}
.disk-item span{
  margin-right: 25px;
  max-width: 352px;
  white-space: nowrap;       
  overflow: hidden;          
  text-overflow: ellipsis;  
}
/*네트워크 인터페이스 새로만들기*/
.nic-toggle {
  width: 59%;
}
/*마이그레이션 팝업*/
.migration-article {
  padding: 10px 0;
  margin-bottom: 10px;
}

/*보류*/
/*..버튼 가져오기 팝업*/
.vm-impor-outer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 0px 18px;
  margin-bottom: 10px;
}
.vm-import-form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/*호스트 장치(장치추가 팝업)*/
.able-host-device-table {
  height: 26vh;
  overflow-y: auto; 
  overflow-x: hidden;
}



