/*새로만들기*/
.cpu-res-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}
.vm-new-nav {
  height: 48vh;
  width: 60%;
  background-color: #fafafa;
  border-right: var(--border-simple);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-weight: 800;
}
.vm-new-nav > div {
  padding: 15px 9px;
  cursor: pointer;
  width: 100%;
}
.vm-edit-popup-content {
  width:100%;height:var(--h-modal-content);
  display:flex;justify-content:flex-start;align-items:center;flex-direction:row;
}
.vm-edit-select-tab {
  width: 86%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 24px;
  background-color: white;
}
.edit-first-content > div {
  display: flex;
  font-size: var(--fs-14);
  justify-content: space-between;
}
.edit-first-content {
  border-bottom: var(--border-simple);
}
.new-template-popup .edit-first-content {
  border-bottom: none;
}

.ha-mode-second-content > div:nth-child(n + 2):nth-child(-n + 3),
.ha-mode-article > div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}

.ha-mode-article > span {
  font-weight: 600;
  margin-bottom: 0.7%;
  display: block;
}
.boot-checkboxs > div > div:nth-child(2) {
  width: 47%;
}

.edit-third-content > div:nth-child(2) > button {
  margin-right: 0.2rem;
}
.edit-third-content button {
  padding: 0.08rem 0.15rem;
  font-weight: 600;
  cursor: pointer;
}
.form-checks > div {
  padding-top: 10px;
}
.form-checks > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.instance-image{
  padding: 0 0.22rem;
}
.disk-list-container{
  padding: 0 0.22rem;
  margin-top: 12px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.disk-item{
  background-color: yellow;
}
#select-host>div:nth-child(2){
  width:55%;
}
#select-host>div:nth-child(2) option{
  height: 26px;
  align-items: center;
  display: flex;
}
#select-host select{
  width:100%;
  height:90px;
}

/*가상머신 ... 버튼 새템플릿 생성*/
.new-template-popup .section-table-outer {
  height: 15vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px solid gray;
}

/*스냅샷 생성*/
.snapshot-new-table {
  max-height: 21vh;
  overflow-y: auto;
  overflow-x: hidden;
}
/*..버튼 가져오기 팝업*/
.vm-bring-popup {
  height: 85%;
  width: 69%;
}
.load-btn {
  width: 4%;
  padding: 0.1rem;
  border: var(--border-simple);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.vm-bring-table {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
}
.vm-bring-table > div {
  width: 44%;
}
/*호스트 장치(장치추가 팝업)*/
.able-host-device-table {
  height: 26vh;
  overflow-y: auto; /* 세로 스크롤 추가 */
  overflow-x: hidden; /* 가로 스크롤 숨김 */
}

/*네트워크 인터페이스 새로만들기*/

.mac-address{
  font-weight: 700;
  font-size: var(--fs-17);
  padding: 6px 0;
}


/*마이그레이션 팝업*/
.migration-article-outer > h1{
  font-weight: 700;
  font-size: var(--fs-17);
  padding-top: 16px;
}
.migration-dropdown {
  margin-bottom: 0.2rem;
}
.migration-article > div:last-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.migration-article > div{
  padding: 10px 0;
  font-size: var(--fs-14);
}

/* 삭제모달창 */
.vm-delete-popup {
  max-height: 90%;
  width: 38%;
}
.vm-delete-popup {
  display: flex;
  flex-direction: column;
}
.disk-delete-checkbox {
  display: flex;
}
/*ova내보내기*/
.ova-new-box {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}
