.vm-edit-select-tab {
  width: 86%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 24px;
}
.form-checks > div {
  padding-top: 10px;
}
.form-checks > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.select-host>div:nth-child(2){
  width:55%;
}
.select-host select {
  width:100%;height:90px;
  border: var(--border-default);
}
.instance-disk-btn{
  background-color:var(--color-white-2);
  padding: 5px 10px;
  margin-left: 4px;
  border: var(--border-default);
  border-radius: 4px;
  font-weight: 500;
}
.host-option-item.selected {
  background: var(--color-white-2);
}
.disk-item span{
  margin-right: 25px;
  max-width: 352px;
  white-space: nowrap;
  padding: 2px 0;       
  overflow: hidden;          
  text-overflow: ellipsis;  
}
/*마이그레이션 팝업*/


/*보류*/
/*..버튼 가져오기 팝업*/
.vm-impor-outer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 0px 18px;
  margin-bottom: 6px;
}
.vm-import-form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.vm-import-panel-title{
  font-size: var(--fs-13);
  margin-bottom: 4px;
  font-weight: 600;
}
.vm-import-table{
  width: 100%;
}
.vm-import-table-outer{
  height: 200px;
  overflow-y: auto;
  border: var(--border-default);
}
.vm-import-panel{
  width: 49%;
  margin-bottom: 20px;
}
.vm-import-detail-box {
  border: var(--border-default);
  border-radius: 2px;
  padding: 10px;
}

.vm-import-detail-box  .info-table-wrapper{
  padding: 5px 3px !important;
  background: none !important;
}

.vm-import-render-tb .info-table-wrapper{
  min-width: 200px;
  height: 100%;
}
.vm-import-render-tb .info-table th{
  min-width: 130px;
}
.vm-import-render-tb .info-table th,
.vm-import-render-tb .info-table td
{
  white-space: normal;      
  word-break: break-word;     
  word-wrap: break-word;  
  padding: 7px 0 !important;
}

/*호스트 장치(장치추가 팝업)*/
.able-host-device-table {
  height: 26vh;
  overflow-y: auto; 
  overflow-x: hidden;
}
.checkbox-outer .input-checkbox{
  width: none !important;
  margin-right: 10px;
}


