.fullscreen {
  width: 100%;
  height: 100%;
}
.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-center-v {
  flex-direction: column !important;
}
.align-center-h {
  flex-direction: row !important;
}

.login-container {
  height: 100vh;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
}

.logo-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.1; /* Dimmed effect */
}

.dimmed-logo {
  width: 500px;
  height: auto;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: 100%;
  max-width: 400px;
}

h2 {
  margin: 20px 0 -26px 0 !important;
  text-align: center;
}
.input-container {
  margin-bottom: 15px;
}

.login-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .dimmed-logo {
    width: 300px;
  }
  .login-box {
    padding: 20px;
  }
  .login-input {
    font-size: 14px;
  }
  .login-button {
    font-size: 14px;
  }
}
