
.login-container {
  position: relative;overflow: hidden;z-index: 1;padding:0 20px;
}
.login-form-outer{
  width: 35%;height:100%;
}
.login-form-box {
  height: 450px;
  gap:5px;
  padding: 0px 25px;
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); 
  border-radius: 9px; 
}

.login-button {
  width:100%;max-width:400px;
  margin-top: 20px;
  padding: 12px;
  color: white;
  border: none;border-radius: 3px;
  background-color:var(--color-primary);
  cursor: pointer;
}
.background-container {
  position: relative;
  width: 100%;height: 100%;
}

.background-image {
  position: absolute;top: 0;left: 0;
  width: 100%;height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .dimmed-logo {
    width: 300px;
  }
  .login-box {
    padding: 20px;
  }
}
