.rutil-general{
    display:flex;
    justify-content: space-between;
    font-size: var(--fs-default);
}
.logo-general{
    width:60px;
    margin: 0 10px 6px 0;
}
.rutil-general-first-contents{
    width:600px;
}
.rutil-general-first-contents>div:first-child{
    display:flex;
    border-bottom:var(--border-simple);
    margin-bottom: 9px;
}
.type-info-boxs{
    border:var(--border-simple);
    padding:8px;
}
.type-info-box{
    margin-bottom:0.2rem;
}