@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  height: 100%;
  --h-icon: 24px;
  --h-icon-nav: 40px;
  --h-icon-tree: 16px;
  --h-rutil-header: 64px;
  --h-rutil-footer: 36px; /*section-footer 높이 */
  --h-rutil-footer-content: 190px;
  --h-rutil-footer-open: calc(var(--h-rutil-footer) + var(--h-rutil-footer-content));
  --h-rutil-content: calc(100% - var(--h-rutil-header) - var(--h-rutil-footer));
  --h-rutil-content-footer-open: calc(100% - var(--h-rutil-header) - var(--h-rutil-footer-open));
  --h-section-header: 68.3px; /*section-header 높이 */
  --h-primary:26px;
  --h-32:32px;
  --h-text-input: 28px;
  
  --h-modal: 600px;                      /* 모달 전체 높이 */
  --h-modal-min: 400px;
  --h-modal-max: 730px;                  /* 모달 전체 최고 높이 */
  --h-modal-header: 55px;                /* 모달 헤더 부분 높이 */
  --h-modal-footer: 60px;                /* 모달 푸터 부분 높이 */
  --h-right-btn: 30px;
  --h-dash-boxs-bar:380px;               /* 대시보드 section 안에 박스와bar 높이를 합친것*/
  --h-modal-content: calc(var(--h-modal) - var(--h-modal-footer) - var(--h-modal-header)); /* 모달 내용 부분 높이 */
  --h-modal-content: calc(100% - var(--h-modal-footer) - var(--h-modal-header)); /* 모달 내용 부분 높이 */
  --w-aside-menu:243px;     
  --w-icon: var(--h-icon);
  --w-icon-nav: var(--h-icon-nav);
  --w-icon-tree: var(--h-icon-tree);
  --w-nav: 160px; /* nav넓이*/
  --w-text-input: 280px;
  --w-bell-box: 300px;
  --w-bell-box-expanded: 700px;

  --p-default: 6px;
  --p-tmi-1:    8px;
  --p-tmi-2:    calc(8px + 40px);
  --p-tmi-2-wc: calc(8px + 20px);
  --p-tmi-3:    calc(48px + 20px);
  --p-tmi-3-wc: calc(28px + 20px);
  --p-tmi-4:    calc(68px + 20px);
  --p-tmi-4-wc: calc(48px + 20px);
  --p-tmi-5:    calc(88px + 20px);
  --p-tmi-5-wc: calc(68px + 20px);

  --color-bg: #EFF1F5;                /* 기본 배경색 */
  --color-black:#1D1D1D;
  --color-bg-input: #efefef;            /* Input 배경색 */ 
  --color-nav: #555;
  --color-gray:#717171;
  --color-gray-1: #dddddd;         
  --color-gray-2:rgb(177, 182, 184);
  --color-gray-3: #cfe4eb;  
  --color-gray-4: #C6C6C6;         
  --color-gray-5: #888;    
  --color-gray-6: #cacaca;      
  --color-gray-disabled: #6d6d6d;     /* 비활성화 색 */
  --color-disabled-2: #888;;
  --color-input-disabled:#EDEDED;
  --color-white:#F8F8F8; 
  --color-blue:#1D56BC;
  --color-blue-1:#0A7CFF;
  --color-table:#E2E5EB;
  --color-active:#EDF1F5;
  --color-logo-text:#4679BC;

  --color-primary: #020B79;;           /* 메인색 */
  --color-primary-hover: #2E379D;;           /* 메인:hover */
  --color-primary-white: #FFF; /* 메인 아이콘버튼 색 */ 
  --color-primary-1: #295b9c;           /* 주 border색 */
  --color-primary-h: #0b4db5;         /* header 글자색 */  
  --color-primary-2: #446dbb;        
  --color-header:rgb(211, 232, 243);               /* 모달 header*/
  --color-bg-tooltip: #333333;        /* 툴팁 */
  --color-hover:#E7F2FF;
  
  --border-w: 1px; /* 테두리 두깨 */
  --border-box: var(--border-w) solid var(--color-black);
  --border-btn: var(--border-w) solid var(--color-gray);
  --border-modal-btn:var(--border-w) solid var(--color-primary-hover);
  --border-detail: var(--border-w) solid var(--color-gray-1);
  --border-simple: var(--border-w) solid var(--color-gray-2);
  --border-aa: var(--border-w) solid var(--color-gray-1);

  --br-default:5px;

  --fs-12: 12px;
  --fs-default: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-21: 21px;
  --fs-big: 24px;
  --fs-bigger: 30px;
  --fs-40: 40px;
  --fs-biggest: 47px;
  --fs-tb-default: 12px;

  --letter-28: -0.28px;
}

* {
  margin: 0;padding: 0;box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}
body { width:100%;height:100%;}
#root {
  width:100%;height:100%;position: absolute;left:0;top:0;
  background-color: var(--color-bg);
  /* background-color: #20acac; */
  text-rendering: optimizeLegibility;
  display:flex;justify-content:flex-start;align-items:center;flex-direction:column;
}

details>summary {
  font-size: var(--fs-big);
}
/*-----중복 */
.content-outer {
  display: flex;
  width: 100%;
  height: calc(100% - var(--h-section-header));
}

ul { list-style-type: circle; }
button {
  border: 1px solid var(--color-gray-4);
  cursor: pointer;
  /* padding: 0 4px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  align-items: center;
}
button[disabled],
select[disabled],
input[disabled] {
  background-color: var(--color-input-disabled);
  color: var(--color-gray-5);
  cursor: no-drop !important;
  border: 1px solid var(--color-gray-4) !important;
}

/* svg.svg-inline--fa { 
  cursor: pointer;
} */
.hover-icon {
  cursor: pointer;
}
.hover-icon:hover{
  color: var(--color-gray-disabled);
}
.popup-content-outer {
  /* height: var(--h-modal-content); */
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.f-center { display:flex;align-items:center;justify-content:center; }
.f-start  { display:flex;align-items:center;justify-content:flex-start; }
.f-end    { display:flex;align-items:center;justify-content:flex-end; }
.center   { display:flex;justify-content:space-between; }
.f-btw    { display:flex;align-items:center;justify-content:space-between; }
.v-center { display:flex;align-items:center;justify-content:center;flex-direction:column; }
.v-start  { display:flex;align-items:flex-start;justify-content:center;flex-direction:column; }
.v-end    { display:flex;align-items:flex-end;justify-content:center;flex-direction:column; }
.v-btw    { display:flex;align-items:space-between;justify-content:center;flex-direction:column; } 

#section {
  width: calc(100% - var(--w-aside-menu));height:100%;
  overflow-y: auto;
  background-color: white;
  overflow-x: hidden;
  border-left: var(--border-box);
}
/* .dash-boxs+.bar+.dash-section{
    height: 100%;
} */
.aside-outer.closed + #section {
  width: 100%; 
}
.section-content{
  height: calc(100% - var(--h-section-header));
  padding: 15px;
}
.info-content{
    width: calc(100% - var(--w-nav));
    padding: 14px 15px;
    height: 100%;
    overflow-y: auto;
}
.icon{
    cursor: pointer;
}
/* .dropdown-container {
  position: relative;
  display: inline-block;
} */
/* .dropdown-container > button {
  height: 3.3vh;
  font-weight: 600;
  margin-right: 0.2rem;
  padding: 0.1rem 0.1rem;
  border: var(--border-simple);
  border-radius: 2px;
} */
.dropdown-menu {
  position: absolute;
  font-size: var(--fs-default);
  width: 230px;
  right:17px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border: var(--color-gray-1);
}
.dropdown-item {
  display: block;
  width: 100%;
  background: none;
  text-align: left;
  border-radius:0 !important;
  border-bottom: var(--color-gray-1);
}

/*우클릭 메뉴박스*/
.context-menu-item{
    border: var(--border-btn);
    border-radius: 4px;
}
/*모달 옆에 메뉴있는것 추가 페딩*/

.select-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
.select-box select,
.select-box input,
.img-input-box input,
.img-select-box select {
  width: 55%;
}
.img-input-box,
.img-select-box {
  padding-bottom: 0.3rem;
}
.btn-icon {
  border:none;background:transparent;
}
.btn-icon:hover {
  cursor: pointer;
}


/*
.img-input-box span,
.img-select-box label {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
*/
/*대상검색*/
.target-search-outer{
    padding: 12px 0;
}
.label-font-name{
  font-size: var(--fs-16);
  font-weight: 700;
}
.use-chap-outer{
    background: var(--color-white);
    border-radius: 1px;
    border: 1px solid var(--color-table);
}
.use-chap-arrow{
    height: 32px;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.use-chap-content{
    padding: 0 5px;
}
.target-btn{
    width: 100%;
    justify-content: right;
    display: flex;
    padding-bottom: 15px;
}
.target-btn>button{
    height: 28px;
    padding: 0 12px;
    border: var(--border-btn);
 
}

/* 네트워크 인터페이스 팝업창들 */
/* 새로만들기 */

.network-popup-content > div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.3%;
}
.host-btn-outer {
  width: 100%;
  padding: 0.5rem 0.3rem;
}


.active {
  color: #449bff;
}
.active-tab {
  background: var(--color-hover);
  font-weight: 600 !important;
  color: var(--color-primary);
  border-right:  2px solid var(--color-primary-hover);
}

.inactive-tab {
  color: black;
}
input {
  cursor: pointer;
}
input[type="text"],
input[type="number"],
input[type="password"],
select {
  width:55%;height: var(--h-primary);
  border: var(--border-btn);border-radius: 1px;
  font-size: var(--fs-default);
  padding: 0 5px;
  outline: none;
  letter-spacing: -0.28px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 6px;
  width: 16px;height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="submit"] {
  border: var(--border-simple);
  border-radius: 3px;
  padding: 0 0.1rem;
}
textarea {
  border: var(--border-simple);
  border-radius: 2px;
  width: 100%;
  padding: 0.1rem;
  outline: none;
}

/*info 설명박스*/
.tooltip-box {
  background-color: #333;
  color: #e0e0e0;
  font-style: italic;
  padding: 10px;
  border-radius: var(--br-default);
  bottom: 0.3rem;
  left: 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 0.3rem;
  position: absolute;
  z-index: 1000;
}
/* 삭제모달 */
/* .disk-delete-box {
  justify-content:center;align-items: center;
  min-height: 56px;
  font-weight: 500;
}
.disk-delete-box > div {
  display: flex;
} */

.network_new_nav div.active {
  background: #e4e4e4;
  color: #449bff;
}
/*툴팁*/
.custom-tooltip {
    transform: translateY(-6px); 
}
/* 중복끝 */
.error-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97%;
  color: #b52a2a;
  font-size: 0.7rem;
}
/*토스트*/
.toast {
  font-size: var(--fs-16);
  width: 400px;
  max-width: 500px;
  padding: 12px 9px;
  border-radius: 2%;
  text-align: left !important;
  color: black;
  border: var(--border-simple);
  z-index: 999;
}
.toast > div:last-child {
  display:flex;align-items:center;justify-content:flex-start;flex-direction:row;
  text-align: left !important;
}
/* 성공 토스트 */
.toast-success {
  border-left: 4px solid limegreen;
}

/* 오류 토스트 */
.toast-error {
  border-left: 4px solid crimson;
}
.apex-tooltip {
    padding: 6px 10px;
    font-size: var(--fs-12);
    border-radius: 4px;
    background: #333;
    color: #fff;
    white-space: nowrap;
  }

/* 스토리지 우클릭 메뉴박스*/
/* #storage_context_menu {
    position: absolute;
    display: none;
    background-color: white;
    border: var(--border-simple);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
#storage_context_menu div {
    font-size: 0.3rem;
    cursor: pointer;
    text-align: left;
    padding: 0.03rem 0.2rem 0.03rem 0.2rem;
    border-bottom: 1px solid rgb(226, 226, 226);
}
#storage_context_menu div:hover {
    background-color: #dbdada;
}

.link-no-underline {
  text-decoration: none;
  color: inherit; 
}

#out_btn{
    position: relative;
}
#out_btn_popup{
    position: absolute;
    width: 12vw;
    border: 1px solid rgb(190, 190, 190);
    top: 113%;
    left: 0px;
    text-align: left;
    background-color: white;
}
#out_btn_popup>div{
    padding: 3%;
    font-size: 0.3rem;
    font-weight: 400;
    color: #858585;
}

#out_btn_popup>div:hover{
    background-color: #e9f4fc;
} */

/*가상머신 팝업*/
/*템플릿 생성*/
/* #template_bg{
    display: none;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
#template_popup{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    top: 50%;
    height: 75%;
    width: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}

#template_article_outer{
    padding: 0 3%;
    font-size: 0.36rem;
    margin-bottom: 3vh;
}
.template_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.2%;
}
.template_content>span{
    display: block;
    color: #4F4F4F;
}
.template_content>input,.template_content>select{
    width: 70%;
    border: var(--border-simple);
    height: 3.5vh;
    outline: none;
    font-size: 0.35rem;
}
#template_article_outer2{
    height: 46%;
}

#template_boxs_header{
    display: flex;
    justify-content: space-between;
    font-size: 0.35rem;
    font-weight: 600;
    background-color: rgb(219, 219, 219);
}
#template_boxs_header>div{
    width: 25%;
    padding: 0.5%;
    border-right: 1px solid rgb(151, 151, 151);
}
#template_boxs_nav{
    display: flex;
    font-size: 0.35rem;
    justify-content: space-between;
}

#template_boxs_nav>div{
    width: 25%;
    padding: 0.5%;
    margin: 2px;

}
#template_boxs_nav>div:first-child{
    border: 1px solid rgb(170, 170, 170);
    height: 100%;
    border-radius: 2px;
}
#template_boxs_nav>select{
    display: block;
    width: 25%;
    height: 100%;
    padding: 0.8%;
    margin: 2px;
    font-size: 0.35rem;
    outline: none;
    border: 1px solid rgb(170, 170, 170);
}

#template_article_footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.36rem;
}
.checkbox-group {
    align-items: center;
}
.checkbox-group input[type="checkbox"] {
    margin-right: 3px;
}
#template_article_footer > div > div {
    padding: 1%;
}

#template_article_outer2 > span {
    font-size: 0.35rem;
    font-weight: 600;
}
.edit-first-content input,
.host_textbox input,
.host_text_raido_box input[type='text'],
.host_policy select
{
    width: 47%;
    height: 3.5vh;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem;
    border: 1px solid #a7a6a6;
}
.host_checkboxs>div,.addFence_agent{
    padding: 0.2rem 0.25rem;
}
.host_checkbox{
    display: flex;
    align-items: center;
}
.edit_body input[type='checkbox'],
.host_text_raido_box input[type='radio'],
.host_radiobox input[type='radio']

{
    margin-right: 0.14rem;
    cursor: pointer;
    
}

.host_text_raido_box,.addFence_agent,.host_textbox{
    display: flex;
    justify-content: space-between;
}
.host_text_raido_box>div{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.host_radiobox {
    display: flex;
    align-items: center;
}

.host_radiobox input[type="radio"] {
    vertical-align: middle;
}
.sorted_agents{
    display: block;
    padding: 0.1rem 0.4rem;
}
.advanced_objec_add{
    display: block;
    padding: 0.1rem 0.4rem;
}
.addFence_agent{
    border-top: 1px solid rgb(207, 207, 207);
}
.addFence_agent>button{
  width: 3.5%;
}
.kernel_first_content{
    padding: 0.7rem 0.4rem;
}

.host_policy{
    padding: 0.7rem 0.4rem;
    display: flex;
    justify-content: space-between;
}
.preference_outer{
    padding: 0.4rem;
}
.preference_content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}
.preference_content>div{
    width: 44%;
    display: flex;
    justify-content: space-between;
}
.preference_content>label{
    display: flex;
    justify-content: center;
   
    align-items: center;
}
.preference_content select{
    width: 87%;
    height: 3.5vh;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem;
    
}
.preference_content button{
    height: 3.5vh;
    padding: 0 3px;
    cursor: pointer;
    width:15%;
}
.preference_noncontent{
    display: flex;
    padding-bottom: 0.5rem;
    justify-content: space-between;
}
.preference_noncontent>div:nth-child(2){
    text-align: left;
    width: 44%

    
    관리(유지보수)
.host_maintenance_popup{
    border: 1px solid #dfdddd;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    top: 50%;
    height: 54.4vh;
    width: 30%;
    left: 50%;
    font-size:0.33rem;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}
.maintenance_content{
    padding:0.2rem;
}
.maintenance_content>div{
    padding: 0.25rem 0;
}
.host_new_add .edit_first_content>div:first-child{
    margin-bottom:0;
}


.host_network_firstbox{
    display: flex;
    justify-content: space-between;
    font-size: 0.37rem;
    padding: 0 0.2rem;
    text-align: center;
    cursor: pointer;
}
.host_network_firstbox i{
    margin-right: 0.3rem;
    font-size: 0.55rem;
}

.host_network_firstbox>div{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0 ;
    width:100%;
 
}
.firstbox_flex{
    display: flex;
    justify-content: space-between;
}
.firstbox_flex>div>div{
    font-weight: 600;
}

.hostdetial_only_outer{
    width: 88%;

}   
.reboot_check_popup{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    top: 50%;
    width: 35%;
    left: 50%;
    height: 40%;             
    font-size:0.33rem;                                    
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}

  
#manage_btn {
    position: relative;

  }
  .dropdown-menu {
    position: absolute;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 200px;
    background: white;
  }
  
  .dropdown-menu li {
    padding: 0.18rem 0.1rem;
    cursor: pointer;
    text-align: left;
    color: black;
    font-size: 0.3rem;
    font-weight:400
  }
  .dropdown-menu li:hover {
    background-color: #f1f1f1;
  }
  #manage_box{
    right: -0.1rem;
    top: 0.8rem;
  }
  .manage_maintenance_popup{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    width: 35%;
    height: 35%;             
    font-size:0.33rem; 
                               
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
  }
#cluster_first_content{
    border-bottom: var(--border-simple);
    padding-bottom: 0.8rem;
}
#cluster_first_content .datacenter_span{
    right: 4.4rem;
    top: 16%;
}
.host_select_set{
    display: flex;
    justify-content: space-between;
    padding: 0 0.4rem;
}
.host_select_set select{
    width: 47%;
    height: 3.3vh;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem;
    border: 1px solid #a7a6a6;
}
#template_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white; 
    border-top: 1px solid rgb(163, 163, 163);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    padding: 1.5% 0;
}

#template_footer div {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.plug-radio-btn > div {
  width: 47%;
}
  .radio-outer{
  width: 60%;
}
.radio-outer > div {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.radio-outer input {
  cursor: pointer;
}
.radio-outer input,
.radio-outer img {
  margin-right: 0.3rem;
}
.plug-radio-btn span {
  display: flex;
  justify-content: left;
  align-items: center;
}
#template_footer button {
    padding: 0.7% 1.1%;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 10px; 
    font-size: 14px; 
    font-size: 0.3rem;
    font-weight: 600;
}

#template_footer button:first-child {
    background-color: #36A1DA;
    color: white;
    border: 1px solid #0066CC; 
}

#template_footer button:last-child {
    background-color: white;
    border: var(--border-simple);
} */

/* #warning{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: #FDF2E5;
    border: 1px solid orange;

}
#host{
    width: 87.5%;
    height: 5vh;
    border-radius: 3px;
} */

/*연결*/
/* 기존 스타일 유지 */
/* #join_popup_outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#join_popup {
    border: 1px solid #dfdddd;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    top: 50%;
    height: 75%;
    width: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}

#join_header{
    display: flex;
    justify-content: space-between;
}
#join_header>div:nth-child(2){
    padding: 0.44rem;
    font-size: 0.3rem;
    display: flex;
}
#join_img_content table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#join_img_content thead{
    font-size: 0.3rem;
    font-weight: 600;
}
#join_img_content thead tr th{
    padding: 1% 0;
    background-color: #6e9cd8;
}
#join_img_content tbody{
    font-size: 0.3rem;
}
#join_img_content tbody td{
    padding:1%;
    border-bottom: 1px solid rgb(190, 190, 190);
} */
/*스냅샷 생성팝업*/
/* .snap_create_outer{
    display: none;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.snap_create{
    border: 1px solid #dfdddd;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    top: 50%;
    height: 74%;
    width: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}
.snap_create_inputbox{
    padding: 2%;
    display: flex;
    justify-content: space-between;
    
}
.snap_create_inputbox>span{
    font-size: 0.34rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.snap_create_inputbox>input{
    width: 55%;
    height: 3.5vh;
    border: 1px solid #8b8989;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem; 
    outline: none;
}
#snap_create_table{
    padding: 2%;
}
#snap_create_table span{
    font-size: 0.4rem;
    font-weight: 600;
}
#snap_create_table table{
    font-size: 0.3rem;
    width: 100%;
    background-color: #ebebeb;
    border-radius: 3px;
}

#snap_create_table thead th,#snap_create_table tbody td{
    padding: 1%;
    text-align: left;
}
#snap_create_warning{
    color: red;
    font-size: 0.34rem;
    padding: 2.5%;
}
.capacity_outer {
  flex-direction: column;
  display: flex;
  height: 70%;
  justify-content: space-between;
}
.capacity_box {
  display: flex;
  height: 48%;
  justify-content: space-between;
  align-items: center;
}
  .related_object {
  display: flex;
  align-items: center;
}
.vm_table_container {
  width: 100%;
}
-- pagingtable.css 
.pagination {
    margin-bottom: 10px;
  }
  .pagination button.active {
    background-color: rgb(218, 236, 245);
  }
  .pagination span {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  .paging-btns center{
    display: flex;
    justify-content: right;
  }
.pregroup_create_outer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
}
.pregroup_create{
    border: 1px solid #dfdddd;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    top: 50%;
    height: 69%;
    width: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}
    #snapshot_content_outer,#network_content_outer,.pregroup_content{
    padding: 0.5rem 0.3rem 0 0;
}
.pregroup_content i{
    margin-right: 0.1rem;
}
.snapshot_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.34rem;
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 1% 0;
    cursor: pointer;
}
.snapshot_content:hover{
    background-color: #ebececd8;
    border-left: 2px solid rgb(161, 161, 161);
}

.snapshot_content_right{
    color: #4F4F4F;
    display: flex; 
    justify-content: right;
    width: 60%;
}
.snapshot_content_right>div{
    margin-left: 4%;
    font-size: 0.34rem;
}
    
#manage_hidden_box{
    right: 5.5rem;
    top: 3.7rem;
}

.ellipsis_container {
    position: relative;
    width: 0.64rem;
  }
#ellipsis_hidden_box{
    display:block;
    right: 0rem;
    top: 0.7rem;
    min-width: 15vw;
}
#pregroup_create_content{
    padding: 0 0.2rem;
}
.snap_create_inputbox{
    display: flex;
    font-size: 0.34rem;
}
.snap_create_inputbox>div{
    position: relative;
}
#pregroup_create_content i{
    color:#1ba4e4;
    cursor: pointer;
    font-size: 0.4rem;
    position: absolute;
    top: 0.079rem;
    right: -0.45rem;
}
.pregroup_create_select{
    display: flex;
    justify-content: space-between;
    width: 55%;
}
#storage_section>div{
    height: 98%;
}
    #network_content_outer{
    padding: 0.5rem 0.3rem 0 0;
}
.pregroup_content i{
    margin-right: 0.1rem;
}
.pregroup_create_select>div:first-child{
    width: 50%;
}
.pregroup_create_select select{
    width: 100%;
    height: 3.5vh;
    border: 1px solid #8b8989;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem; 
    outline: none;
} 
.pregroup_create_buttons{
    padding: 3.4%;
    display: flex;
    justify-content: space-between;
}
.pregroup_buttons_content{
    width: 45%;
}
.pregroup_buttons_content label{
    font-size: 0.34rem;
}
.pregroup_buttons_select{
    padding-top: 0.2rem;
    display: flex;
    justify-content: space-between;
}
.pregroup_buttons_select>div:first-child{
    width: 70%;
    font-size: 0.34rem;
}
.pregroup_buttons_select>div:nth-child(2){
    width: 20%;
    display: flex;
   
}
.disk_new_img_left,#disk_managed_block_left{
  width: 60%;
}
.disk_new_img_left>div, #disk_managed_block_left >div{
  display: flex;
  justify-content: space-between;
}
.pregroup_buttons_select select{
    width: 100%;
    height: 3.5vh;
    border: 1px solid #8b8989;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem; 
    outline: none;
}
.pregroup_buttons_select button{
    width: 50%;
    height: 100%;
    font-size: 0.44rem;
    font-weight: 800;
    cursor: pointer;
}    
    .table_outer{
    border: 1px solid black;
    height: 50%;
}

.table_outer tbody span{
    display: block;
    width: 100%;
    text-align: center;
    border: none;
}

.domain_new_group{
  font-size: 0.32rem;
  padding: 0.2rem 0.3rem;
  display: flex;
  justify-content: space-between;
}
#storage_managed_outer{
    font-size: 0.3rem;
    padding-left: 0.35rem;
}
#buttons{
    width: 5%;
    display: flex;
    justify-content: space-between;
}
#buttons>button{
    width: 50%;
    font-size: 0.4rem;
    font-weight: 600;
    cursor: pointer;
}
.select_box select,
.input_box input{
    width: 47%;
    height: 3.3vh;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem; 
}
.select_box2>div:last-child,
.plug_radio_btn>div{
    width: 47%;
}
.select_box2 select{
    width: 100%;
    height: 3.3vh;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem; 
}

.plug_radio_btn span{
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.network_parameter_outer{
    padding: 1% 2%;
    font-size: 0.32rem;
}
.network_parameter_outer>span{
    font-weight: 600;
    display: block;
    margin-bottom: 0.3rem;
}
.network_parameter_outer>div{
    display: flex;
    justify-content: space-between;
}
.network_parameter_outer>div>div:nth-child(-n+2){
    display: flex;
    width: 32%;
    justify-content: space-between;
}
#disk_managed_block_left>span{
    color: red;
}

#disk_managed_block_left>span{
    color: red;
}


#disk_managed_block_right label{
    color: gray;
}
.target_search{
    padding: 0 0.35rem;
    font-size: 0.33rem;
}
.target_buttons{
    display: flex;
}
.target_buttons>div{
    padding: 0.07rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 0.1rem;
}
.target_info{
    display: flex;
    padding: 0.3rem 0;
}
.target_info>div{
    width: 50%;
    padding: 0 0.3rem;
}
.target_info>div:first-child>div{
    display: flex;
    justify-content: space-between;
}
.target_info>div:first-child input[type="text"]{
    width: 70%;
    height: 3vh;
    border: 1px solid #8b8989;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem; 
    outline: none;
}
.target_info>div:first-child{
    border-right: 1px solid black;
}
.target_input_text{
    display: flex;
    justify-content: space-between;
}
.target_info>div:nth-child(2) input[type="text"]{
    width: 30%;
    border-radius: 3px;
}
.target_table table{
    border-collapse: collapse;
    width: 100%
}
.target_table th,.target_table td{
    border: 1px solid black;
}
.disk_search_btn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.1rem;
}
    .disk_new_img_right,#disk_managed_block_right {
    display: flex;
    flex-direction: column;
}
.disk_new_img_right div,#disk_managed_block_right div {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.13rem;
}
.disk_new_img_right label , #disk_managed_block_right label{
    margin-left: 0.2rem;
}
#storage_lun_first{
    font-size: 0.33rem;
    padding: 0 0.35rem;
}

.disk_search_btn>div{
    border: 1px solid black;
    padding: 0.07rem;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}


.edit_aside {
    width: 30%;
    height: 95%;
    background-color: #FAFAFA;
    border-right: var(--border-simple);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    font-weight: 800;
    text-align: center;
}
.edit_aside > div {
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
    padding-left: 0.2rem;
    border-bottom: none;
    cursor: pointer;
    padding: 0.4rem 0.2rem;
    outline: none;
}

.edit_aside > div span {
    font-size: 0.33rem;
}
.edit_header{
    background-color: #ebebeb;
    display: flex;
    padding: 8px 13px;
    justify-content: space-between;
    font-size: 0.18rem;
}
.edit_header>h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit_header>button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    border: none;
    padding: 11px;
    border-radius: 50%;
    font-size: 0.38rem;
    cursor: pointer;
    background-color: #ebebeb;
}
.edit_header>button:hover{
    background-color: var(--color-gray-1);
}
    #host_outer,
#ha_mode_outer,
#res_alloc_outer,
#common_outer,
#console_outer {
    height: 69vh;
    overflow-y: auto;
    overflow-x: hidden;
}
#common_outer {
    height: 100%;
    max-height: 69vh;
    overflow-y: auto;
}
    .edit_body{
    height: 80vh;
    font-size: 0.36rem;
}

.edit_footer{
    border-top: var(--border-simple);
}
    .backup_edit_radiobox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.2rem;
    height: 16vh;
}
    .datacenter_span{
    position:absolute;
    right: 21.5%;
    top: 14%;
}
    .text_icon_box{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.boot_outer_content{
    padding:0.2rem;
}
.instance_image{
    padding: 2.3% 2% 2% 2%;
    margin-bottom:0.2rem;
    border-bottom:var(--border-simple);
}
.instance_image>div{

    display:flex;
    justify-content: space-between;
}
.instance_image button{
    padding: 0.08rem 0.15rem;
    font-size: 0.3rem;
    font-weight: 600;
    cursor: pointer;
}
  디스크(disk_content)
#disk_content {
    width: 100%;
    padding: 0.5rem 0.3rem;
    overflow-x: auto;
}
.disk_content_header{
    display: flex;
    font-size:0.3rem;
    padding-bottom: 0.3rem;
}
.disk_content_header span{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 0.5%;
    font-size: 0.35rem;
}
.disk_content_header button {
    padding: 0.3%;
    cursor: pointer;
    font-size: 0.3rem;
    border: 1px solid #14417c;
    border-radius: 3px;
    color: rgb(10, 55, 107);
    background: white;
}

#disk_content table {
    width: 100%;
    border-collapse: collapse;
}
#disk_content thead>tr{
    background-color: #d1e2eb;
}
#disk_content th, #disk_content td {
    border: var(--border-simple);
    text-align: left;
    font-size: 0.3rem;
    padding: 0.03rem 0.2rem 0.03rem 0.2rem;
}

.storage_right_btns{
  display: flex;
  font-size: 0.34rem;
  margin-bottom: 0.3rem;
  height: 3.3vh;
}
.storage_right_btns>span{
  margin-right: 0.2rem;
  display: flex; 
  justify-content: center;
  align-items: center; 
}
.storage_right_btns>div{
  width: 8%;
  display: flex;
  justify-content: space-between;
}
.storage_right_btns button{
  width: 50%;
  cursor: pointer;
  border: 1px solid #14417c;
  border-radius: 3px;
  color: rgb(10, 55, 107);
  font-weight: 600;
}
    .storage_popup_NFS i{
      margin-right: 0.08rem;
  }
  

  .storage_popup_NFS>div{
      margin-bottom: 0.2rem;

  }
.storage_popup_NFS{
  padding: 0.4rem;
  font-size: 0.32rem;
  overflow-y: auto;
  height: 50.5vh;
  overflow-x: hidden;
}


  #domain_hidden_box_btn,#domain_hidden_box_btn2{
      cursor: pointer;   
  }
    히든박스
    #domain_hidden_box{
    font-size: 0.3rem;
    margin-top: 0.2rem;
}
#domain_hidden_box>span{
    color: red;
}
.hidden_checkbox{
    display: flex;
    
}
.hidden_checkbox input{
    text-align: left;
    width: 1.5%;
    margin-right: 0.1rem;
}
.hidden_checkbox label{
display: flex; 
    justify-content: center; 
    align-items: center; 
}
스토리지 팝업창들
.disk_new_img_right button{
  padding: 0.1rem;
  font-weight: 600;
  cursor: pointer;
}
.hidden_checkbox{
  display: flex;
  
}
.hidden_checkbox input{
  text-align: left;
  width: 1.5%;
  margin-right: 0.1rem;
}
.hidden_checkbox label{
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
  .label_font_name{
  font-size: 15px;
  font-weight: bold;
}
  .storage_right_btns{
    display: flex;
    font-size: 0.34rem;
    margin-bottom: 0.3rem;
    height: 3.3vh;
}
.storage_right_btns>span{
    margin-right: 0.2rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.storage_right_btns>div{
    width: 8%;
    display: flex;
    justify-content: space-between;
}
.storage_right_btns button{
    width: 50%;
    cursor: pointer;
    border: 1px solid #14417c;
    border-radius: 3px;
    color: rgb(10, 55, 107);
    font-weight: 600;
}
    설치 버튼 팝업
#install_box{
    right: 1.5rem;
    top: 1.2rem;
}

.network_content2.selected {
    border: 2px solid #007bff;
    background-color: #f0f8ff; 
  }

//content_header_popup
.content_header_popup_btn{
    position: relative;
}
.content_header_popup{
    position: absolute;
    background-color: white;
    border: 1px solid rgb(189, 189, 189);
    font-size: 0.32rem;
    z-index: 1;
    right: 0%;
    top: 130%;
    font-weight: 400;
    min-width: 1000%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: left;
}
.content_header_popup>div{
    padding: 2% 3%;
    font-size: 0.3rem;
}
.content_header_popup>div:hover{
    background-color: #ececec;
}

.select_box select,
.input_box input{
    width: 47%;
    height: 3.3vh;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem; 
}
.select_box2>div:last-child,
.plug_radio_btn>div{
    width: 47%;
}
.select_box2 select{
    width: 100%;
    height: 3.3vh;
    padding: 0 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.29rem; 
}

#buttons{
    width: 5%;
    display: flex;
    justify-content: space-between;
}
#buttons>button{
   width: 50%;
   font-size: 0.4rem;
   font-weight: 600;
   cursor: pointer;
}
   스토리지 section
#setting_user_section,
.host_detail_section
{
    display: none;
    width: 96%;
    background: white;
    position: relative;
}
.section_content_outer{
    width: 89%;
}
.section_option{
    font-size: 0.34rem;                      
    display: flex;
    height: 2.9vh;
    margin-bottom: 0.2rem;
}
.section_option>div{
    margin-right: 0.4rem;
}
.section_option label{
    justify-content: center;
    align-items: center; 
}
.section_option select {
    height: 100%;
    cursor: pointer;
    font-size: 0.3rem;
}
.iscsi_buttons {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px;
}
.tab_button {
  width: 100px;
  height: 32px;
  padding: 5px 3px;
  font-size: 15px;
  border: var(--border-simple);
  background-color: #f9f9f9;
  cursor: pointer;
}
.tab_button.active {
  background-color: #007bff;
  color: white;
}

.label_font_name{
  font-size: 15px;
  font-weight: bold;
}

.tab_content{
  padding: 5px 10px;
}

.input_number{
  width: 70px;
}
.network_popup{
    position: absolute;
    border-radius: 4px;
    background: white;
    top: 50%;
    height: 43%;
    width: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); 
}
  //storage_volume_option_box
.storage_volume_option_boxbtn,.upload_option_boxbtn{
    position: relative;
}
.storage_volume_option_box{
    position: absolute;
    background-color: white;
    border: 1px solid rgb(189, 189, 189);
    font-size: 0.32rem;
    z-index: 1;
    top: 15%;
    right: 1.1%;
    border-radius: 3px;
    font-weight: 400;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 9%;
}
.upload_option_box{
    position: absolute;
    background-color: white;
    border: 1px solid rgb(189, 189, 189);
    font-size: 0.32rem;
    z-index: 1;
    top: 15.4%;
    right: 1.2%;
    border-radius: 3px;
    font-weight: 400;
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 9%;
}
.storage_volume_option_box>div,.upload_option_box>div{
    padding: 2% 3%;
    cursor: pointer;
}
.upload_option_box>div:hover{
    background-color: #e8f2fc;
}
// 
.table_container_left{
    width: 33%;
    border-right: 1px solid #d1d1d1;
    padding: 0.4rem 0.2rem;
}
.table_container_left>h2{
    font-size: 0.4rem;
    color: #0066CC;
   border-bottom: 1px solid #d1d1d1;
   padding: 0.1rem 0 ;
}
   //
   .network_parameter_outer{
    padding: 1% 2%;
    font-size: 0.32rem;
}
.network_parameter_outer>span{
    font-weight: 600;
    display: block;
    margin-bottom: 0.3rem;
}
.network_parameter_outer>div{
    display: flex;
    justify-content: space-between;
}
.network_parameter_outer>div>div:nth-child(-n+2){
    display: flex;
    width: 32%;
    justify-content: space-between;
}
    .storage_volume_snap_popup{
    border: 1px solid #dfdddd;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    top: 50%;
    height: 65%;
    width: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}
.volume_snap_first_content{
    font-size: 0.33rem;
    padding: 0.4rem;
}
.volume_snap_first_content>h2{
font-size: 0.4rem;
}
.volume_snap_table{
border: 1px solid rgb(185, 185, 185);
height: 25vh;
}
.volume_snap_table table{
border-collapse: collapse;
width: 100%;
}
.volume_snap_table thead>tr{
background-color:#dadada;
}
.volume_snap_table th,.volume_snap_table td{
padding: 0.05rem;
text-align: left;
}
.storage_popup_NFS> .network_form_group,
.search_target .network_form_group
{
padding:0;
}
.storage_popup_NFS> .network_form_group input{
width:56%;
}
.input_checkbox{
display: flex;
align-items: center;
}
.target_btns{
border-radius:3px;

width: 19%;
}
.target_btns>button{
padding:0.15rem;
width:50%;
}
.target_lun,.search_target>div:first-child{
border-right:var(--border-simple);

}
.search_target{
display: flex;
width: 100%;
justify-content: space-between;
}
.search_target>div{
width: 50%;

}
.search_target>div:first-child .network_form_group{
padding: 0.4rem;
}
.search_target>div:nth-child(2)>div{
padding: 0.07rem 0.25rem;
}

.search_target_outer button{
padding: 0.07rem;
border: var(--border-simple);
border-radius: 3px;
margin-left: 0.25rem;
}
#domain_hidden_box4{
display: block;
border: var(--border-simple);
padding: 0.2rem 0;
border-radius: 3px;
margin-bottom:0.2rem
}
.all_login{
float:right;
padding: 0.15rem;
border:var(--border-simple);
border-radius: 3px;
margin-bottom:0.2rem
}
.target_lun.active, .lun_target.active {
background-color: #f0f0f0;
}
.storage_popup_NFS .section_table_outer{
    overflow-y: auto;
    height: 30vh;
    overflow-x: hidden;
    background: var(--color-gray-1);
    width: 100%;
}
    //디스크 새로만들기 
.vm_select_box{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
}
.vm_select_box select,.vm_select_box input[type='text']{
        width: 55%;
        height: 3.5vh;
        border: 1px solid #8b8989;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.29rem; 
        outline: none;
}
.vm_select_box label{
    display: flex;
    justify-content: center;
    align-items: center; 
}
가상머신 편집팝업
.edit_fourth_content{
    padding: 2.3% 2% 0 2%;
    border-top: var(--border-simple);
}
.edit_fourth_content_select{
    min-width: 64%;
    display: flex;
    justify-content: space-between;
}

.edit_fourth_content_select select{
    width: 67%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    font-size: 0.29rem;
}
.edit_fourth_span{
    padding: 2.3% 2% 0 2%;
    font-weight:600;
}
.network_first_contents{
    padding: 0.1rem 0;
    border-bottom: 1px solid  rgb(206, 206, 206);;
}

.network_second_contents>span{
    padding: 1.2% 2% 0 2%;
    font-weight: 800;
}
.network_second_contents{
    padding: 0.1rem 0;
}
.network_second_contents input[type="checkbox"]{
    margin-right: 0.2rem;
}
.network_checkbox_type2{
    padding: 1.2% 2%;
    display:flex;
}
.network_radio_group>div:nth-child(2){
   width: 46%;
} */
/* .network_checkbox_type3>div,.network_new_vnic_buttons{
    display: flex;
    width: 6%;
} 
//hostdetail.js
.host_detail_outer{
    width: 100%;
    display: flex;
    height: 88%;
}

.detail_machine_outer,#detail_template_outer{
    padding: 1.4rem 0;
}
.datacenter_span{
    position:absolute;
    right: 21.5%;
    top: 14%;
}
.text_icon_box{
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.boot_outer_content{
    padding:0.2rem;
}
.instance_image{
    padding: 2.3% 2% 2% 2%;
    margin-bottom:0.2rem;
    border-bottom:var(--border-simple);
}
.instance_image>div{

    display:flex;
    justify-content: space-between;
}
.instance_image button{
    padding: 0.08rem 0.15rem;
    font-size: 0.3rem;
    font-weight: 600;
    cursor: pointer;
}

체크박스
.checkbox_group{
    display:flex;
    align-items: center; 
}

.host_hidden_parameter>div:first-child{
    font-weight: 800;
    font-size: 0.34rem;
    margin-top:0.3rem;
    margin-bottom: 0.7rem;
}
.proxy_content{
    display: flex;
    justify-content: space-between;
    font-size:0.34rem;
    margin-bottom:0.3rem;
}

.proxy_add{
    padding:0.3rem 0;
    border-top:1px solid rgb(207, 207, 207);
    font-size:0.34rem;
    display:flex;
    justify-content: space-between;
}
.disk_type{
    display:flex;
    font-size: 0.35rem;
    justify-content: space-between;
}
.disk_type>div{
    display: flex;
   
    padding: 0.2rem 0;
}
.disk_type span{
    display:block;
    margin-right:0.2rem;
}
.disk_type .header_right_btns{
    margin-bottom:0;
}
.content_type>div{
    padding: 0.1rem;
    cursor:pointer;
}
.content_type>div:hover{
    background: var(--color-gray-1);
}
.section_table_outer input[type="text"],.section_table_outer select{
    border: var(--border-simple);
    width:100%;
}
/* .network_popup_table{
    font-size: 0.3rem;
    
}
.network_popup_table>table{
    width: 100%;
    border-collapse: collapse;
}
.network_popup_table thead{
    background-color: var(--color-gray-1);
}
.network_popup_table thead th{
    padding: 0.12rem 0;
}
.network_popup_table tbody td{
    border-right: var(--border-simple);
}
.network_popup_table tbody td:last-child{
    border-right: none;
}
.network_popup_table>.vnic_new_checkbox{
   text-align: center;
} 

/* 
.unconfigured_network{
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
    height:33vh;
    margin-bottom:0.2rem
}
.unconfigured_network>div{
    width: 100%;
    padding: 0.1rem;
    text-align: center;
    align-items: center;
}

.unconfigured_content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 0.5rem; 
    cursor:pointer;
    border:var(--border-simple);
}
.lable_part {
    display: inline-flex;
    align-items: center;
    padding: 8px;
    width: 100%;
    border: 1px dashed black;
  }
  
  .lable_part span {
    font-size: 14px;
    color: black;
    font-weight: normal;
  } 

디스크 이동
.disk_move_popup{
    border: 1px solid #dfdddd;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    top: 50%;
    height: 48.4vh;
    width: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); 
}
.network_filter_btns{
    margin-bottom: 0.2rem;
    border-radius:3px;
    width: 54%;
    display:flex;
}
.network_filter_btns>button{
    padding:0.06rem;
    cursor:pointer;
    display: flex;
    align-items: center;
    text-align: center;
  
}
.svg-inline--fa{
    cursor:pointer;
}
.host-empty-outer{
    width: 100%;
    padding:  0.3rem 0;
}

.popup_plus_btn{
    padding: 1.2% 2%;
    display: flex;
    justify-content: right;
}
.popup_plus{
    padding:0.08rem;
    border:var(--border-simple);
    border-radius:3px;
    cursor:pointer;
}
.plus_popup_outer{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    top: 50%;
    height: 56%;
    width: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
    font-size:0.35rem;
}
    //
    .storage-upload-first > div {
  display: flex; 
  justify-content: center;
  align-items: center; 
}
  .host_new_popup {
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    top: 50%;
    height: 70%;
    width: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}
//
.storage_right_btns{
    display: flex;
    font-size: 0.34rem;
    margin-bottom: 0.3rem;
    height: 3.3vh;
}
.storage_right_btns>span{
    margin-right: 0.2rem;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.storage_right_btns>div{
    width: 8%;
    display: flex;
    justify-content: space-between;
}
.storage_right_btns button{
    width: 50%;
    border: 1px solid #14417c;
    border-radius: 3px;
    color: rgb(10, 55, 107);
    font-weight: 600;
}
    //
.content_header_right {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
스토리지 유지보수 팝업
.maintenance_popup{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    top: 50%;
    font-size: 0.34rem;
    height: 49%;
    width: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); 
    z-index: 1000;
  }
  .hosted_storage{
    padding: 0.3rem;
  }
 --데이터센터
 .pregroup_content{
    width: 100%;
}

.vGPU_radiobox{
    padding:0.2rem;
}
.host_new_add{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    top: 50%;
    height: 78%;
    width: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}
.host_new_add form{
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

//
.table_container_center,.table_container_right{
  
    width: 31%;
 }

.storage_right_btns{
    display: flex;
    font-size: 0.34rem;
    margin-bottom: 0.3rem;
    height: 3.3vh;
}
.storage_right_btns>span{
    margin-right: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.storage_right_btns>div{
    width: 8%;
    display: flex;
    justify-content: space-between;
}
.storage_right_btns button{
    width: 50%;
    cursor: pointer;
    border: 1px solid #14417c;
    border-radius: 3px;
    color: rgb(10, 55, 107);
    font-weight: 600;
}
.storage_upload_popup{
    border: 1px solid #dfdddd;
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
    top: 50%;
    height: 41%;
    width: 28%;
    left: 50%;
    z-index:99999;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
    font-size:0.33rem;

    호스트 장치(View CPU Pinning 팝업)
.device-view-popup-outer {
    height: 92%;
    width: 42%;
  }
  .device-view-popup {
    overflow-y: auto; 
    overflow-x: hidden; 
    padding: 0.5rem;
    height: 79vh;
  }
  .device-view-boxs {
    padding: 0.3rem 1.2rem;
  }
  .device-view-boxs > span {
    display: block;
  }
  .device-view-box {
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
    width: 35%;
    border-raius: 3px;
    height: 15vh;
    padding: 0.1rem;
  }

  .host_hidden_parameter > div:first-child {
  font-weight: 800;
  font-size: 0.34rem;
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
}
.proxy_content {
  display: flex;
  justify-content: space-between;
  font-size: 0.34rem;
  margin-bottom: 0.3rem;
}

.proxy_add {
  padding: 0.3rem 0;
  border-top: 1px solid rgb(207, 207, 207);
  font-size: 0.34rem;
  display: flex;
  justify-content: space-between;
}
.disk_type {
  display: flex;
  font-size: 0.35rem;
  justify-content: space-between;
}
.disk_type > div {
  display: flex;
  padding: 0.2rem 0;
}
.disk_type span {
  display: block;
  margin-right: 0.2rem;
}
.disk_type .header_right_btns {
  margin-bottom: 0;
}
.content_type > div {
  padding: 0.1rem;
  cursor: pointer;
}
.content_type > div:hover {
  background: var(--color-gray-1);
}
.icon_tooltip {
  max-width: 12vw !important;
  text-align: center;
}
  .snapshot-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-16);
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 10px 0;
  align-items: center;
  cursor: pointer;
}
.snapshot-content:hover {
  background-color: #ebececd8;
  border-left: 2px solid rgb(161, 161, 161);
}
.snapshot-content-left {
  color: #4f4f4f;
  width: 20%;
  display: flex;
}
.snapshot-content-left > div {
  border-radius: 50%;
  padding: 3%;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}
.snapshot-content-left span {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.snapshot-content-left i {
  margin-top: 1px;
}
.snapshot-content-right {
  color: #4f4f4f;
  display: flex;
  justify-content: right;
  width: 60%;
}

*/

/* Computing.css */
/* .cluster_general {
  display: flex;
  padding: 0.2rem;
}
.table_storage_domain_detail {
  width: 58%;
}
*/
.color-primary {
  color: var(--color-primary);
}
.color-primary:hover {
  color: var(--color-primary-hover);
}
.bgcolor-primary {
  background: var(--color-primary);
}
.bgcolor-primary:hover {
  background: var(--color-primary-hover);
}

/*반응형*/
@media (min-width: 2000px) {

}
@media (max-width: 1420px) {
    .resizer {
        display: none !important;
    }
}

@media screen and (max-width:1100px) {
    .modal {
        max-width: 100%;
        min-height: auto;
        max-height: 90vh;
    }
}
@media screen and (max-width: 768px) {
    .responsive-closed {
      background: white;
    }
    /* 
    .section-header{
        display:block;
        padding: 9px;
        align-items: center;
        display: flex;
    } */
}
@media screen and (max-width: 500px) {
    .section-header>div:nth-child(2){
        justify-content: right;
        margin-top: 5px;
    }
  
}