@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  height: 100%;
  --h-icon: 24px;
  --h-icon-nav: 40px;
  --h-icon-tree: 16px;
  --h-input:24px;
  --h-tmi: 24px; /* 트리메뉴 높이 */
  --h-rutil-header: 64px;
  --h-rutil-footer: 36px; /*section-footer 높이 */
  --h-rutil-footer-content: 20px;
  --h-rutil-footer-open: calc(var(--h-rutil-footer) + var(--h-rutil-footer-content));
  --h-rutil-content: calc(100% - var(--h-rutil-header) - var(--h-rutil-footer));
  --h-rutil-content-footer-open: calc(100% - var(--h-rutil-header) - var(--h-rutil-footer-open));
  --h-section-header: 64px; /*section-header 높이 */
  --h-primary:26px;
  --h-32:32px;
  --h-text-input: 28px;
  
  --h-modal: 600px;                      /* 모달 전체 높이 */
  --h-modal-min: 400px;
  --h-modal-max: 730px;                  /* 모달 전체 최고 높이 */
  --h-modal-header: 55px;                /* 모달 헤더 부분 높이 */
  --h-modal-footer: 60px;                /* 모달 푸터 부분 높이 */
  --h-right-btn: 30px;
  --h-dash-boxs-bar:380px;               /* 대시보드 section 안에 박스와bar 높이를 합친것*/
  --h-modal-content: calc(var(--h-modal) - var(--h-modal-footer) - var(--h-modal-header)); /* 모달 내용 부분 높이 */
  --h-modal-content: calc(100% - var(--h-modal-footer) - var(--h-modal-header)); /* 모달 내용 부분 높이 */
  --w-aside-menu:243px;     
  --w-icon: var(--h-icon);
  --w-icon-nav: var(--h-icon-nav);
  --w-icon-tree: var(--h-icon-tree);
  --w-nav: 160px; /* nav넓이*/
  --w-text-input: 280px;
  --w-bell-box: 300px;
  --w-bell-box-expanded: 700px;

  --p-default: 6px;
  --p-tmi-1:    8px;
  --p-tmi-2:    calc(8px + 40px);
  --p-tmi-2-wc: calc(8px + 20px);
  --p-tmi-3:    calc(48px + 20px);
  --p-tmi-3-wc: calc(28px + 20px);
  --p-tmi-4:    calc(68px + 20px);
  --p-tmi-4-wc: calc(48px + 20px);
  --p-tmi-5:    calc(88px + 20px);
  --p-tmi-5-wc: calc(68px + 20px);

  --color-black:#1D1D1D;     
  --color-nav: #555;
  --color-white:#f0f0f0; /*0*/   
  --color-gray:#717171; /*0*/      
  --color-gray-4: #C6C6C6; /*0버튼색*/
  --color-gray-disabled: #6d6d6d;     /* 비활성화 색 */
  --color-input-disabled:#EDEDED; /*0*/
  --color-blue:#1D56BC; /*0*/
  --color-blue-1:#0A7CFF;/*0*/
  --color-table:#E2E5EB;/*0*/
  --color-logo-text:#4679BC; /*0*/
  --color-active:#449bff; /*0*/
  --color-border-default:#cfcfcf;

  --color-primary: #020B79;;           /* 메인색 */
  --color-primary-hover: #2E379D;    /*0*/        
  --color-primary-white: #FFF;       /*0*/ 
  --color-primary-h: #0b4db5;    /*0*/       
  --color-bg-tooltip: #333333;        /* 툴팁 */
  --color-hover:#E7F2FF; /*0*/ 
  
  --border-w: 1px; /* 테두리 두깨 */
  --thickness-border: 2px;
  --br-default:5px;
  --border-default: var(--border-w) solid var(--color-border-default);
  --border-box: var(--border-w) solid var(--color-black);
  --border-btn: var(--border-w) solid var(--color-gray);
  --border-btn-filter: var(--border-w) solid var(--color-gray-4);
  --border-modal-btn:var(--border-w) solid var(--color-primary-hover);

  --fs-8: 8px;
  --fs-10: 10px;
  --fs-default: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-24: 24px;
  --letter-28: -0.28px;
}
* {
  margin: 0;padding: 0;box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  font-style:normal;font-weight:normal;font-size:var(--fs-default);line-height:var(--fs-default);
  /*word-wrap: break-word;word-break: break-all;*/
  white-space:nowrap;text-align:left;text-overflow:ellipsis;
  border:none;
}

body { 
  width:100%;height:100%;
}
#root {
  position:absolute;left:0;top:0;
  width:100%;height:100%;
  text-rendering: optimizeLegibility;
}
/*폰트설정*/
.fw-bold { font-weight:bold; }
.fw-700 { font-weight:700; }
.fw-500 { font-weight:500; }
.fs-8,.fs-8 > * {/*폰트10px*/
  font-size:var(--fs-8) !important;line-height:var(--fs-8) !important;
}
.fs-10,.fs-10 > * {/*폰트10px*/
  font-size:var(--fs-10) !important;line-height:var(--fs-10) !important;
}
.fs-default,.fs-default > * {/*폰트12px (기본)*/
  font-style:normal;font-size:var(--fs-default);line-height:var(--fs-default);font-weight:200 !important;
}
.fs-14,.fs-14 > * {/*폰트14px*/
  font-size:var(--fs-14) !important;line-height:var(--fs-14) !important;
}
.fs-16,.fs-16 > * {/*폰트16ㅔx*/
  font-size:var(--fs-16) !important;line-height:var(--fs-16) !important;
}
.fs-18,.fs-18 > * {/*폰트16px*/
  font-size:var(--fs-18) !important;line-height:var(--fs-18) !important;
}
.fs-24,.fs-24 > * {/*폰트24px*/
  font-size:var(--fs-24) !important;line-height:var(--fs-24) !important;
}
.active {
  transition: all 0.3s ease;
  font-weight: 700 !important;
  color: var(--color-active);
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
}
.txt-multiline { white-space: initial !important; }

hr {
  /* height: var(--border-w); */
  height: var(--border-w);
  background-color: var(--color-border-default);
}
ul {
  list-style-type: circle;
}
button {
  border: 1px solid var(--color-gray-4);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}
button[disabled],
select[disabled],
input[disabled] {
  background-color: var(--color-input-disabled);
  color: var(--color-gray);
  cursor: no-drop !important;
  border: 1px solid var(--color-gray-4) !important;
}
svg.btn { cursor: pointer; }
.popup-content-outer {
  /* height: var(--h-modal-content); */
  overflow-x: hidden;overflow-y: auto;
  height: 100%;
}
.f-center { display:flex;align-items:center;justify-content:center; }
.f-start  { display:flex;align-items:center;justify-content:flex-start; }
.f-end    { display:flex;align-items:center;justify-content:flex-end; }
.f-btw    { display:flex;align-items:center;justify-content:space-between; }
.v-center { display:flex;align-items:center;justify-content:center;flex-direction:column; }
.v-start  { display:flex;align-items:center;justify-content:flex-start;flex-direction:column; }
.v-end    { display:flex;align-items:center;justify-content:flex-end;flex-direction:column; }
.v-btw    { display:flex;align-items:space-between;justify-content:center;flex-direction:column; } 
.ml-auto { margin-left:atuo; }
.mr-auto { margin-right:atuo; }
.mt-auto { margin-top:atuo; }
.mb-auto { margin-bottom:atuo; }

.gap-1 { gap: 1px; }
.gap-2 { gap: 2px; }
.gap-4 { gap: 4px; }
.gap-6 { gap: 6px; }
.gap-8 { gap: 8px; }
.gap-10 { gap: 10px; }
.gap-12 { gap: 12px; }
.gap-14 { gap: 14px; }
.gap-16 { gap: 16px; }
.gap-18 { gap: 18px; }

.dash-boxs+.bar+.dash-section {
  height: 100%;
}
.aside-outer.closed ~ #section {
  width: 100%; 
}
.section-content {
  height: calc(100% - var(--h-section-header));
  padding: 15px;
}
.info-content {
  width: calc(100% - var(--w-nav));height: 100%;
  padding: 14px 15px;
  overflow-y: auto;
}
.section-content,.info-content { align-items:flex-start !important; }
.dropdown-menu {
  position: absolute;right:17px;
  width: 230px !important;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.dropdown-item {
  display: block;
  width: 100%;
  background: none;
  text-align: left;
  border-radius:0 !important;
}

.context-menu-item {
  border: var(--border-btn);
  border-radius: 4px;
}
.select-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
.select-box select,
.select-box input,
.img-input-box input,
.img-select-box select {
  width: 55%;
}
.btn-icon {
  border:none;background:transparent;
}
.btn-icon:hover {
  cursor: pointer;
}
.no-search-box{
  margin-bottom: 15px;
}
/* 새로만들기 */
.network-popup-content > div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.3%;
}
.host-btn-outer {
  width: 100%;
  padding: 0.5rem 0.3rem;
}
.toast {
  max-width: 800px;
}