/* 
안씀!!!!!!!!!!!!!!
새로만들기
.vm-edit-popup {
  height: 84.4vh;
  width: 50%;
}
.cpu-res-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}
 새로만들기(수정해야됨) 
.vm-new-nav {
  font-size: 0.33rem;
  height: 48vh;
  width: 60%;
  background-color: #fafafa;
  border-right: var(--border-simple);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-weight: 800;
}
.vm-new-nav > div {
  padding: 0.4rem 0.2rem;
  cursor: pointer;
  width: 100%;
  font-size: 0.33rem;
}
.checkbox_group{
  display:flex;
  align-items: center; 
}
.boot-checkboxs>div{
  display:flex;
}
.vm-edit-select-tab {
  font-size: 0.33rem;
  width: 86%;
  height: 71vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.vm-plus-btn-outer {
  width: 100%;
}
.vm-plus-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
.edit-first-content select,
.edit-first-content input[type="text"] {
  width: 47%;
  height: 3.3vh;
}
.edit-first-content > div {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.29rem;
}
.edit-first-content > div:first-child {
  padding-top: 0.3rem;
}
.edit-first-content {
  border-bottom: var(--border-simple);
  font-size: 0.32rem;
}
.new-template-popup .edit-first-content {
  border-bottom: none;
}
.edit-second-content input,
.edit-second-content select,
.host-third-content > div:nth-child(n + 2) select,
.cpu-res-box select,
.cpu-res input {
  width: 47%;
}

.edit-second-content > div,
.host-third-content > div,

{
  display: flex;
  justify-content: space-between;
  padding: 2.3% 2% 0 2%;
}

.host-third-content > div:nth-child(n + 2) select {
  font-weight: 600;
  font-size: 0.27rem;
}

.edit-second-content > div > div > i,
.host-third-content > div > div > i,
.ha-mode-second-content > div > div > i,
.res_second_content i {
  color: #1ba4e4;
  cursor: pointer;
}
.host-second-content,
.ha-mode-second-content{
  padding: 2%;
}

.ha-mode-second-content > div:first-child {
  padding-bottom: 2%;
}
.ha-mode-second-content > div:nth-child(n + 2):nth-child(-n + 3),
.ha-mode-article > div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2%;
}

.ha-mode-second-content > div:nth-child(n + 2) select,
.boot-checkboxs select {
  width: 47%;
}

.ha-mode-article > span {
  font-weight: 600;
  margin-bottom: 0.7%;
  display: block;
}


#threads input[type="text"],
.boot-checkboxs input[type="text"] {
  width: 94%;
}
.edit-third-content {
  padding: 2.3% 2% 2% 2%;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: space-between;
}
.edit-third-content > div:nth-child(2) {
  display: flex;
  justify-content: right;
}
.edit-third-content > div:nth-child(2) > button {
  margin-right: 0.2rem;
}
.edit-third-content button {
  padding: 0.08rem 0.15rem;
  font-size: 0.3rem;
  font-weight: 600;
  cursor: pointer;
}

.form-checks > div {
  padding: 1.8% 0 0 0;
  display:flex;
}

.form-checks > div:nth-child(2) > div:nth-child(2) {
  width: 47%;
}
.form-checks > div:nth-child(2) select {
  width: 100%;
  height: 3.3vh;
  padding: 0 3px;
  cursor: pointer;
  font-size: 0.29rem;
}

가상머신 ... 버튼 새템플릿 생성
.new-template-popup {
  width: 45%;
}
.new-template-popup .section-table-outer{
  height:15vh;
  overflow-y: auto;
  overflow-x: hidden;
}

스냅샷 생성
.snapshot-new-popup {
  height: 52%;
  width: 32%;
}
.snapshot-new-table {
  max-height: 21vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.host-textbox {
  margin-bottom: 0.14rem;
  display: flex;
}
..버튼 가져오기 팝업
.vm-bring-popup {
  height: 85%;
  width: 69%;
}
.load-btn {
  width: 4%;
  padding: 0.1rem;
  border: var(--border-simple);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.vm-bring-table {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
}
.vm-bring-table > div {
  width: 44%;
}
호스트 장치(장치추가 팝업)
.device-add-popup-outer {
  height: 92%;
  width: 74%;
}

.able-host-device-table {
  height: 26vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.network_content_detail {
  font-size: 0.3rem;
}
.radio-outer > div {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.radio-outer input {
  cursor: pointer;
}
.radio-outer input,
.radio-outer img {
  margin-right: 0.3rem;
}
.plug-radio-btn {
  width: 100%;
}
.plug-radio-btn > div {
  width: 20%;
}
.plug-radio-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
}
마이그레이션 팝업
.migration-popup-content {
  height: 42%;
  width: 70%;
}
.migration-article-outer {
  padding: 0.4rem;
}
.migration-dropdown {
  margin-bottom: 0.2rem;
}
.migration-article > div:last-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.migration-article > div:last-child > div {
  padding: 10px 0;
}
.migration-article > div:last-child > div:last-child {
  width: 87.5%;
  font-size: 0.36rem;
  height: 5vh;
  background-color: #ebebeb;
  border-radius: 3px;
}
삭제모달창 
.vm-delete-popup {
  max-height: 90%;
  width: 38%;
}
.vm-delete-popup {
  display: flex;
  flex-direction: column;
}
.disk-delete-checkbox {
  display: flex;
}
ova내보내기
.vm-ova-popup {
  height: 34.4vh;
  width: 33%;
}
.ova-new-box {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}
.ova-new-box select,
.ova-new-box input {
  width: 47%;
} */
