/* IconInput.css */
.icon-input-container {
  max-width:400px;
  display: flex;
  align-items: center;
  padding: 5px 0; /* Inner padding */
  width: 100%; /* Full width */
}

.icon-container {
  display: flex;
  align-items: center;
  padding: 0 8px;
  color: #999;
}
  
.login-input {
  width: 100% !important; 
  height: 37px;
  padding: 5px !important;
  font-size: var(--fs-16);
  border: var(--border-default) !important;
  border-radius: 3px !important;
  color: var(--color-black);
}
.icon-input {
  flex: 1; 
  padding: 8px; 
}
