.cluster-new-popup {
  position: absolute;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  top: 50%;
  height: 78%;
  width: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
}

.cluster-new-content {
  font-size: 0.32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cluster-new-content > div {
  display: flex;
  justify-content: space-between;
  padding: 0.23rem 0.27rem;
  align-items: center;
}

.cluster-new-content select,
.cluster-new-content input[type="text"] {
  width: 47%;
  height: 3.3vh;
  padding: 0 3px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.29rem;
  border: 1px solid rgb(206, 206, 206);
}
.host-text-radio-box {
  display: flex;
}
