.cluster-new-popup {
  height: 78%;
  width: 42%;
}

.cluster-new-content {
  font-size: 0.32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cluster-new-content > div {
  display: flex;
  justify-content: space-between;
  padding: 0.23rem 0.27rem;
  align-items: center;
}

.cluster-new-content select,
.cluster-new-content input[type="text"] {
  width: 47%;
}
.host-text-radio-box {
  display: flex;
}
