.cluster-new-popup {
  height: 78%;
  width: 42%;
}

.cluster-new-content {
  height: 76%;
}
.cluster-new-content select,
.cluster-new-content input[type="text"] {
  width: 47%;
}
.host-text-radio-box {
  display: flex;
}
