/* DashboardBox.css */
.dash-boxs {
  width: 100%;
  height: 111px;
  padding: 0.23rem 0.2rem;
  margin-bottom: 0.14rem;
  background-color: #fafaff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.13);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.box {
  width: 16.6%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
  border-right: 1px solid #5e95a745;
}

.box > span {
  width: 100%;
  font-size: var(--fs-default-7);
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.box > h1 {
  font-size: var(--fs-big);
  line-height: 27px;
  font-weight: 600;
  color: black;
}
.box > h1,
.box > .arrows {
  margin-left: auto;
}
.arrows > svg {
  margin-left: 0.1rem;
}
.arrows {
  height: 24px;
  margin-top: 0.1rem;
  text-align: right;
  font-size: var(--fs-default);
}
.box:last-child {
  border-right: none;
}
.arrows > svg:first-child {
  color: #ff8417;
}
.arrows > svg:last-child {
  color: #4d4d4d;
  margin-top: 2px;
}
.box-icon-title {
  gap: 2px;
}
