/* 
.edit_footer{
    border-top: var(--border-simple);
}

    .select_box select,
    .input_box input{
        width: 47%;
        height: 3.3vh;
        padding: 0 3px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.29rem; 
    }
    .select_box2>div:last-child,
    .plug_radio_btn>div{
        width: 47%;
    }
    .select_box2 select{
        width: 100%;
        height: 3.3vh;
        padding: 0 3px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.29rem; 
    }
    .radio_outer>div{
        width: 100%;
        display: flex;
        justify-content: left;
    }
    .radio_outer input{
        cursor: pointer;
    }
    .radio_outer input, .radio_outer img{
        margin-right: 0.3rem;
    }
    .plug_radio_btn span{
        display: flex; 
        justify-content: center; 
        align-items: center;
    }
    .network_parameter_outer{
        padding: 1% 2%;
        font-size: 0.32rem;
    }
    .network_parameter_outer>span{
        font-weight: 600;
        display: block;
        margin-bottom: 0.3rem;
    }
    .network_parameter_outer>div{
        display: flex;
        justify-content: space-between;
    }
    .network_parameter_outer>div>div:nth-child(-n+2){
        display: flex;
        width: 32%;
        justify-content: space-between;
    }
    #buttons{
        width: 5%;
        display: flex;
        justify-content: space-between;
    }
    #buttons>button{
       width: 50%;
       font-size: 0.4rem;
       font-weight: 600;
       cursor: pointer;
    }
  

.network_new_cluster_table th,.network_new_cluster_table td{
    border: 1px solid rgb(209, 209, 209);
    padding: 0.05rem;
}
#network_new_vnic_form{
    padding: 0.5rem;
}

#network_new_vnic_form>div{
    display: flex;
    justify-content: space-between;
}


#system_outer,#host_outer,#ha_mode_outer,#res_alloc_outer{
    display: none;
}

#res_alloc_outer,
#common_outer,
#console_outer
{
    height: 63.4vh;
    overflow-y: auto; 
    overflow-x: hidden; 
}
#system_outer,#host_outer,#ha_mode_outer,#res_alloc_outer{
    display: none;
}
.console_checkboxs{
    padding:0.4rem;
}
.console_checkboxs>div{
    margin-bottom: 0.2rem;
}
.console_checkboxs>span{
    font-weight: 600;
    display: block;
    margin-bottom: 0.1rem;
}
#monitor{
    width: 66%;
}
#monitor select{
    width: 18%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    font-size: 0.29rem;
}
.console_checkboxs{
    padding:0.4rem;
}
.console_checkboxs>div{
    margin-bottom: 0.2rem;
}
.console_checkboxs>span{
    font-weight: 600;
    display: block;
    margin-bottom: 0.1rem;
}
#console_outer>.res_alloc_checkbox{
    padding: 0.4rem;  
}
#console_outer>.res_alloc_checkbox input{
    margin-right: 0.1rem;
}

.res_second_content{
    padding: 2%;
}

#cpu_sharing{
    display: flex;
    width: 47%;
    justify-content: space-between;
}

#cpu_sharing>input{
    width: 23%;
}
#threads>div:nth-child(2),#boot_checkboxs>div>div:nth-child(2){
    width: 47%;
}
#threads input[type="text"],#boot_checkboxs input[type="text"]  {
    width: 94%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
}
#host_second_content{
    padding: 2%;
}#host_third_content{
    padding: 0 2%;
}
#host_third_content>div{
    padding: 1% 0;
}
#ha_mode_second_content{
    padding: 2%;
}
#ha_mode_second_content>div:first-child{
    padding-bottom: 2%;
}
#ha_mode_second_content>div:nth-child(n+2):nth-child(-n+3),.ha_mode_article>div{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}
#ha_mode_second_content>div:nth-child(n+2) select
{
    width: 47%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    font-size: 0.29rem;
}

.ha_mode_article>span{
    font-weight: 600;
    margin-bottom: 0.7%;
    display: block;
}
.form_checks>div{
    padding: 1.8% 0 0 0;
}
.form_checks>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    
}
.form_checks>div:nth-child(2)>div:nth-child(2){
    width: 47%;
}
.form_checks>div:nth-child(2) select{
    width: 100%;
    height: 3.3vh;
    padding: 0 3px;
    cursor: pointer;
    font-size: 0.29rem;
}
.network_edit_popup form{
    height: 66.3vh;
    overflow-y: auto;
    overflow-x: hidden; 
}
.network_edit_popup{
    position: absolute;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    top: 50%;
    height: 69%;
    width: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); 
} */
