.count-badge {
  display: inline-block;
  padding: 3px 13px;
  font-size: var(--fs-default);
  background: var(--color-white);  
  font-weight: 700;
  border-radius: 40%;
  text-align: center;
}
.more-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: var(--fs-default);
  color: var(--color-accent);
}