.count-badge {
  display: inline-block;
  padding: 3px 13px;
  font-size: var(--fs-default);
  background: var(--color-white-2);  
  font-weight: 700;
  border-radius: 40%;
  text-align: center;
}
.more-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px 13px;
  cursor: pointer;
  font-size: var(--fs-default);
  color: var(--color-accent);
  font-weight: 600;
}
.more-button:hover{
  color: var(--color-blue-1);
}
.vm-bar-chart-outer .box-content {
  height: 100% !important;
}