  .popup-container {
    position: relative; 
  }
  
  .popup-box {
    position: absolute;
    top: 27px;
    right: 0;
    min-width: 195px;
    background: white;
    z-index: 3;
  }
    
  .popup-box .btn-right-click:not(:disabled):hover {
    background: #f0f0f0;
  }
  
  .popup-box .disabled {
    color: gray;
    cursor: not-allowed;
  }
