  .popup-container {
    position: relative; 
  }
  
  .popup-box {
    position: absolute;
    top: 27px;
    right: 0;
    min-width: 195px;
    background: var(--color-white);
    z-index: 3;
  }
    

