/* components/common/RutilVmLogo.css */
.rutil-vm-logo {
  flex-direction:column;
  width:140px;aspect-ratio:134/36;margin:10px;
}
.rutil-vm-logo.big {
  width: 240px !important;
}
.rutil-vm-logo.bigger {
  width: 320px !important;
}
.rutil-vm-logo svg {
  width:inherit;height:inherit;
}
.rutil-vm-logo figcaption { 
  width:100%;
}
.rutil-vm-logo p {
  width:100%;
  color: var(--color-logo-text);
  line-height:150%;
}