
.split-item {
  width: auto;
  padding: 20px;
  border-radius: 8px;
  min-height: 220px;
  background: var(--color-white);
}
.split-item:first-child {
  width: 60%;
}
.split-item:last-child {
  width: 38%;
  margin-left: 30px;
}
.snapshot-item {
  cursor: pointer;
  padding: 4px 20px;
  background: none;
}
