
.split-layout-group {
  display: flex;
  width: 100%;
  gap: 24px; 
}
.split-item {
  width: auto;
  padding: 20px;
  border-radius: 8px;
  min-height: 220px;
  background: var(--color-white);
}
.snapshot-item {
  cursor: pointer;
  padding: 4px 20px;
  background: none;
}

.split-item:first-child {
  width: 60%;
}
.split-item:last-child {
  width: 38.5%;
}
.split-item:last-child:empty {
  display: none;
}
