/* NavButtonGroup.css */
.btn-tab-nav-group {
  width: var(--w-btn-tab-nav);
  border-right: var(--border-default);
}
.btn-tab-nav {
  width:100%;height: var(--h-btn-tab-nav);
  color: var(--color-nav);
  padding-left: var(--p-btn-tab-nav);
  cursor: pointer;
}
.btn-tab-nav:hover {
  background: var(--color-white);
}
.btn-tab-nav.active {
  color: var(--color-primary);
  background: var(--color-table) !important;
}
.btn-tab-nav.active::after {
  width: 4px;height: 100%;
  margin-left: auto;
  background-color: var(--color-primary-hover);
  content: '';
}
