.watermark-container {
  position: absolute;left:0;top:0;
  background-color: var(--color-primary-white);
  /* overflow: hidden; */
}

.watermark-text {
  position: absolute;
  color: rgba(160, 160, 160, 0.35);
  font-size: 24px; /* Adjust size */
  transform: rotate(-30deg); /* Diagonal rotation */
  pointer-events:none; /* Allow interaction with content below */
  white-space:nowrap; /* Prevent text wrapping */
}
