/*새로만들기*/
.disk-new-img-right {
  width: 100%;
}
.disk-new-img-right > .input-checkbox{
  display: flex;
}
.disk-new-img-left { width: 100%; }
.img-checkbox-outer {
  margin-left: 24px;
}
/*이미지,직접lun버튼*/
.storage-disk-new-popup {
  height: 74%;
  width: 50%;
}
.disk-new-nav {
  width: 50%;
  display: flex;
}
.disk-new-nav > div {
  padding: 8px 0;
  margin-right: 2%;
  cursor: pointer;
}
.disk-new-nav .active {
  color: rgb(35, 132, 243);
  font-weight: 600;
}

/*디스크(업로드)*/
.storage-upload-first {
  height: 62px;
  border-bottom: 1px solid var(--color-table);
}
.storage-upload-first > button {
  font-weight: 600;
  margin-right: 16px;
}
.storage-upload-first>div{
  width: 55%;height: var(--h-32);
}

.disk-option {
  padding-top: 16px;
}
