/*새로만들기*/
.disk-new-img-right {
  display: flex;
  justify-content: right;
  width: 100%;
}
.disk-new-img-right>.input-checkbox{
  display: flex;
}
.disk-new-img-left {
  width: 100%;
}
.img-checkbox-outer{
  margin-left: 24px;
}
/*이미지,직접lun버튼*/
.storage-disk-new-popup {
  height: 74%;
  width: 50%;
}
.disk-new-nav {
  width: 50%;
  display: flex;
}
.disk-new-nav > div {
  padding: 8px;
  margin-right: 2%;
  cursor: pointer;
}
.disk-new-nav .active {
  color: rgb(35, 132, 243);
  font-weight: 600;
  border-bottom: 2px solid rgb(35, 132, 243);
}

/*디스크(업로드)*/
.storage-upload-first {
  display: flex;
  height: 62px;
  border-bottom: 1px solid var(--color-table);
}
.storage-upload-first > button {
  font-weight: 600;
  margin-right: 16px;
}
.storage-upload-first>p{
  font-size: var(--fs-16);
}
.storage-upload-first>div{
  width: 55%;
}
.storage-upload-first input{
  
}
.disk-option {
  font-size: var(--fs-18);
  padding-top: 16px;
  font-weight: 700;
}
