/*새로만들기*/
.disk-new-img {
  display: flex;
}
.disk-new-img-right {
  padding-left: 0.2rem;
}
.disk-new-img-right div {
  padding-bottom:0.02rem !important;
}
.disk-new-img-left {
  width: 65%;
}
/*이미지,직접lun버튼*/
.storage-disk-new-popup {
  height: 74%;
  width: 50%;
}
.disk-new-nav {
  padding: 0.1rem 0.2rem 0.2rem 0.2rem;
  width: 50%;
  display: flex;
}
.disk-new-nav > div {
  padding: 10px;
  margin-right: 2%;
  cursor: pointer;
}
.disk-new-nav .active {
  color: rgb(35, 132, 243);
  font-weight: 600;
  border-bottom: 2px solid rgb(35, 132, 243);
}

/*디스크(업로드)*/
.storage-upload-first {
  padding: 12px;
  display: flex;
  margin-bottom: 20px;
}
.storage-upload-first > button {
  font-weight: 600;
  margin-right: 16px;
}

.disk-option {
  background-color: #e6e6e6;
  font-weight: 600;
  padding: 10px;
}
